<div class="voffset4">
  <uib-tabset active="activeTab">

    <uib-tab ng-repeat="tab in tabs" heading="{{'language.' + tab.lang | translate}}" disable="tab.disabled" select="tabSelected(tab)">

      <div class="voffset4">
        <img class="img-responsive desaturate" ng-show="network.logo" ng-src="{{logoUrl}}">

        <h2>
          <localized value="network.name" lang="tab.lang"></localized>
        </h2>

        <localized value="network.description" lang="tab.lang"></localized>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3 translate>network.general-info</h3>

          <table class="table table-bordered table-striped">
            <tbody>
            <tr>
              <th translate>network.acronym</th>
              <td>
                <localized value="network.acronym" lang="tab.lang"></localized>
              </td>
            </tr>
            <tr ng-show="network.model.website">
              <th translate>website</th>
              <td>
                <a href="{{network.model.website}}" target="_blank">{{network.model.website}}</a>
              </td>
            </tr>
            <tr ng-repeat="role in roles">
              <th>{{'network.member-list' | translate: {type: role} }}</th>
              <td>
                <div ng-controller="ContactController">
                  <ul ui-sortable="sortableOptions" ng-model="memberships[role]" class="list-unstyled sortable" ng-show="memberships[role].length">
                    <li ng-repeat="person in memberships[role]">
                      <a ng-click="viewContact(person)" title="{{'dnd-reorder' | translate}}">
                        {{person.title}} {{person.firstName}} {{person.lastName}}
                        {{person.academicLevel}}
                      <span ng-show="person.institution.name.length">
                        (<localized value="person.institution.name" lang="tab.lang"></localized>)
                      </span>
                      </a>
                      <div class="inline" ng-if="inViewMode() && permissions.canEdit()">
                        <a ng-click="editMember(network, person, role)" class="action"><i class="fa fa-pencil"></i></a>
                        <a ng-click="deleteMember(network, person, role)" class="action"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="btn btn-info btn-sm" ng-click="addMember(network, role)" ng-if="inViewMode() && permissions.canEdit()">
                    <i class="fa fa-plus"></i> <span>{{ 'network.add-member' | translate: {type: role} }}</span>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <a ng-if="inViewMode() && (network.studyIds.length > 0 || network.networkIds.length > 0)" href class="btn btn-info" ng-click="showAllContacts()"><i class="fa fa-group"></i> <span translate>network.associated-people</span></a>
          <attributes-list attributes="network.attributes"></attributes-list>
        </div>
        <div class="col-md-6">
          <h3 translate>studies</h3>

          <a ng-click="addStudyEvent(network)" class="btn btn-info" ng-if="inViewMode() && permissions.canEdit()">
            <i class="fa fa-plus"></i> <span translate>study.add</span>
          </a>

          <p class="help-block" ng-if="!studySummaries || studySummaries.length === 0">
            <span translate>study.none</span>
          </p>

          <a class="btn btn-danger" ng-click="deleteSelectedStudiesEvent()"
             ng-if="inViewMode() && permissions.canEdit() && studySummaries && studySummaries.length">
            <i class="fa fa-trash-o"></i> <span translate>global.delete-selected</span>
          </a>

          <span class="pull-right">
            <dir-pagination-controls pagination-id="studySummaryPagination"></dir-pagination-controls>
          </span>

          <table class="table table-bordered table-striped" ng-show="studySummaries.length">
            <thead>
            <tr>
              <th ng-if="inViewMode() && permissions.canEdit()"></th>
              <th translate>study.acronym</th>
              <th translate>study.name</th>
              <th ng-if="inViewMode() && permissions.canEdit()" translate>actions</th>
            </tr>
            </thead>
            <tbody>
            <tr pagination-id="studySummaryPagination" dir-paginate="studySummary in studySummaries | itemsPerPage: 10">
              <td ng-if="inViewMode() && permissions.canEdit()">
                <input type="checkbox" ng-model="studySummary.selected">
              </td>
              <td>
                <a ng-href="#/study/{{studySummary.id}}" ng-if="studySummary.permissions.view">
                  <localized value="studySummary.acronym" lang="tab.lang"></localized>
                </a>
                <span ng-if="!studySummary.permissions.view">
                  <localized value="studySummary.acronym" lang="tab.lang"></localized>
                </span>
              </td>
              <td>
                <localized value="studySummary.name" lang="tab.lang"></localized>
              </td>
              <td ng-if="inViewMode() && permissions.canEdit()">
                <a ng-click="deleteStudyEvent(network, studySummary)" class="hand action"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            </tbody>
          </table>

          <h3 translate>networks</h3>

          <a ng-click="addNetwork(network)" class="btn btn-info" ng-if="inViewMode() && permissions.canEdit()">
            <i class="fa fa-plus"></i> <span translate>network.add</span>
          </a>

          <p class="help-block" ng-if="!network.networkSummaries || network.networkSummaries.length === 0">
            <span translate>network.none</span>
          </p>

          <a class="btn btn-danger" ng-click="deleteSelectedNetworksEvent()"
             ng-if="network.networkSummaries && network.networkSummaries.length">
            <i class="fa fa-trash-o"></i> <span translate>global.delete-selected</span>
          </a>

          <span class="pull-right">
            <dir-pagination-controls pagination-id="networkSummaryPagination"></dir-pagination-controls>
          </span>

          <table class="table table-bordered table-striped" ng-show="network.networkSummaries.length">
            <thead>
            <tr>
              <th ng-if="inViewMode() && permissions.canEdit()"></th>
              <th translate>network.acronym</th>
              <th translate>network.name</th>
              <th ng-if="inViewMode() && permissions.canEdit()" translate>actions</th>
            </tr>
            </thead>
            <tbody>
            <tr pagination-id="networkSummaryPagination" dir-paginate="networkSummary in network.networkSummaries | itemsPerPage: 10">
              <td ng-if="inViewMode() && permissions.canEdit()">
                <input type="checkbox" ng-model="networkSummary.selected">
              </td>
              <td>
                <a ng-href="#/network/{{networkSummary.id}}" ng-if="networkSummary.permissions.view">
                  <localized value="networkSummary.acronym" lang="tab.lang"></localized>
                </a>
                <span ng-if="!networkSummary.permissions.view">
                  <localized value="networkSummary.acronym" lang="tab.lang"></localized>
                </span>
              </td>
              <td>
                <localized value="networkSummary.name" lang="tab.lang"></localized>
              </td>
              <td ng-if="inViewMode() && permissions.canEdit()">
                <a ng-click="deleteNetwork(network, networkSummary)" class="hand action"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
