<div>
  <div ng-include="'app/network/views/network-view-header.html'" ng-init="tabName='revisions'"></div>

  <entity-revisions id="{{networkId}}" title="{{'revisions' | translate}}" state="network['obiba.mica.EntityStateDto.state']" on-fetch-revisions="fetchRevisions" on-restore-revision="restoreRevision" on-view-revision="viewRevision"></entity-revisions>

  <h3 class="voffset5" translate>network.label</h3>

  <small class="help-block">
    {{'revision-date' | translate}}: {{commitInfo.date | amDateFormat : 'lll'}} ({{commitInfo.author}})
  </small>
  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-include="'app/network/views/network-view-details.html'"></div>
    </div>
  </div>

</div>
