.input-error {
  .alert-danger;
  padding: 2px 5px;
  &:first-letter {
    text-transform: uppercase;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

form .tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.sortable {
  li {
    cursor: move;

    .action {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

@loading-width: 150px;
#loading {
  width: @loading-width;
  position: absolute;
  left: 50%;
  margin-left: -(@loading-width / 2);
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
}