target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
mica-webapp/src/main/webapp/dist
mica-webapp/src/main/webapp/bower_components
mica-webapp/src/main/webapp/styles/mica.css.map
spring_loaded
*.log
.vagrant
.work
.vscode
**/.attach_pid*
