target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
mica-webapp/src/main/webapp/dist
mica-webapp/src/main/webapp/bower_components
spring_loaded
*.log
.vagrant
.work
