<div class="modal-dialog">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{ currentCommit ? 'revisions-previous-difference-title' : 'revisions-difference-title' | translate}}</h4>
  </div>
  <div class="modal-body">
    <div class="help-block">
      <ul class="list-style-none no-padding-left">
        <ol class="no-padding-left">{{'revisions-difference-left' | translate}}: {{'revisions-difference-author' | translate: {author: currentCommit.author} }} {{'revision-date-on' | translate | lowercase}} {{currentCommit.date | amDateFormat : 'lll'}}</ol>
        <ol class="no-padding-left">{{'revisions-difference-right' | translate}}: {{'revisions-difference-author' | translate: {author: commitInfo.author} }} {{'revision-date-on' | translate | lowercase}} {{commitInfo.date | amDateFormat : 'lll'}}</ol>
      </ul>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col-xs-4" translate>revisions-difference-field</th>
            <th class="col-xs-4" title="{{currentCommit.date | amDateFormat : 'lll'}} ({{currentCommit.author}})" translate>revisions-difference-left</th>
            <th class="col-xs-4" title="{{commitInfo.date | amDateFormat : 'lll'}} ({{commitInfo.author}})" translate>revisions-difference-right</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in diff.onlyLeft">
            <td>
              <strong style="display: block;">{{value[0] || key}}</strong>
              <small ng-if="value[0]">{{key}}</small>
            </td>
            <td>{{value[1]}}</td>
            <td></td>
          </tr>
          <tr ng-repeat="(key, value) in diff.differing">
            <td>
              <strong style="display: block;">{{value[0] || key}}</strong>
              <small ng-if="value[0]">{{key}}</small>
            </td>
            <td>{{value[1]}}</td>
            <td><span ng-bind-html="value[2] | trustHtml"></span></td>
          </tr>
          <tr ng-repeat="(key, value) in diff.onlyRight">
            <td>
              <strong style="display: block;">{{value[0] || key}}</strong>
              <small ng-if="value[0]">{{key}}</small>
            </td>
            <td></td>
            <td>{{value[1]}}</td>
          </tr>
          <tr ng-if="diffIsEmpty">
            <td colspan="3" translate>revisions-difference-none</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">
      <span translate>cancel</span>
    </button>
    <button type="button" class="btn btn-primary" ng-click="restoreRevision()" ng-if="!diffIsEmpty && !comparedWithPrevious">
      <span translate>restore</span>
    </button>
  </div>
</div>
