<div>
  <h3>
    <span>{{title}}</span>
  </h3>

  <div class="row" ng-class="{'voffset2': canPaginate()}">
    <div ng-show="canPaginate()" class="col-xs-6">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="revision-search"><i class="fa fa-search"></i></span>
        <input ng-model="searchText" type="text" class="form-control width50" aria-describedby="revision-search">
      </span>
    </div>
    <div ng-class="{'col-xs-6' : canPaginate()}">
      <dir-pagination-controls pagination-id="revisions" class="pull-right"></dir-pagination-controls>
    </div>
  </div>

  <table class="table table-bordered table-striped" ng-show="commitInfos.length">
    <thead>
    <tr>
      <th>ID</th>
      <th translate>date</th>
      <th translate>author</th>
      <th width="40%" translate>comment-label</th>
      <th translate>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'active-row': $index === active.index && active.page === pages.index}" dir-paginate="commitInfo in commitInfos | filter:searchText | itemsPerPage: 5" current-page="pages.index" pagination-id="revisions">
      <td>
        <span class="ellipsis pull-left" title="{{commitInfo.commitId}}">
          {{commitInfo.commitId}}
        </span>
        <i class="fa fa-star pull-left" ng-if="state.publishedId === commitInfo.commitId" title="{{'publish.published' | translate}} ({{state.publicationDate | amDateFormat : 'lll'}} [{{state.publishedBy}}])"></i>
      </td>
      <td class="no-wrap">
        {{commitInfo.date | amDateFormat: 'lll'}}
      </td>
      <td>
        {{commitInfo.author}}
      </td>
      <td>
        {{commitInfo.comment}}
      </td>
      <td class="no-wrap">
        <span><a ng-click="viewRevision($index, id, commitInfo)" href="" translate>view</a></span>
        <span ng-if="!$last">
          <a ng-click="viewDiff(id, commitInfo, commitInfos[$index + 1], true)" href title="{{'revisions-previous-difference-tooltip' | translate}}"><span>{{'revisions-previous-difference'|translate}}</span></a>
        </span>
        <span ng-if="pages.index > 1 || $index > 0">
          <a ng-click="viewDiff(id, commitInfos[0], commitInfo)" href title="{{'revisions-difference-tooltip' | translate}}"><span>{{'revisions-difference' | translate}}</span></a>
        </span>
        <span ng-if="pages.index > 1 || $index > 0">
          <a ng-click="restoreRevision(id, commitInfo)" href><span>{{'restore' | translate}}</span></a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
