<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" translate>revisions-difference</h4>
  </div>
  <div class="modal-body table-responsive">
    <div class="help-block">
      {{'revisions-difference-right' | translate}}'s {{'revision-date' | translate}}: {{commitInfo.date | amDateFormat : 'lll'}} ({{commitInfo.author}})
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th translate>revisions-difference-field</th>
          <th translate>revisions-difference-left</th>
          <th translate>revisions-difference-right</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in diff.onlyLeft">
          <td>{{key}}</td>
          <td>{{value}}</td>
          <td></td>
        </tr>
        <tr ng-repeat="(key, value) in diff.differing">
          <td>{{key}}</td>
          <td>{{value[0]}}</td>
          <td>{{value[1]}}</td>
        </tr>
        <tr ng-repeat="(key, value) in diff.onlyRight">
          <td>{{key}}</td>
          <td></td>
          <td>{{value}}</td>
        </tr>
        <tr ng-if="diffIsEmpty">
          <td colspan="3" translate>revisions-difference-none</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">
      <span translate>cancel</span>
    </button>
    <button type="button" class="btn btn-primary" ng-click="restoreRevision()" ng-if="!diffIsEmpty">
      <span translate>revisions-difference-accept</span>
    </button>
  </div>
</div>