<div form-input type="number" disabled="numberOfParticipants.participant.noLimit" model="numberOfParticipants.participant.number"  label="numberOfParticipants.participants"></div>
<div form-checkbox model="numberOfParticipants.participant.noLimit" label="numberOfParticipants.no-limit"></div>

<div form-input type="number" disabled="numberOfParticipants.sample.noLimit" model="numberOfParticipants.sample.number" label="numberOfParticipants.sample"></div>
<div form-checkbox model="numberOfParticipants.sample.noLimit" label="numberOfParticipants.no-limit"></div>
<div localized-input name="numberOfParticipants.info" model="numberOfParticipants.info" lang="lang" help="numberOfParticipants.suppl-info"></div>
