<div>
  <span ng-if="!$ctrl.taxos || $ctrl.taxos.length == 0" translate>taxonomy-for-tagging-by-concept-not-configured</span>

  <div>
    <p>
      <select chosen class="chosen-select" ng-options="taxo.name as (taxo.title | localizedString) for taxo in $ctrl.taxoChoices" ng-change="$ctrl.taxoSelected()" ng-model="$ctrl.chosenTaxo">
        <option value="">-- {{'choose-taxonomy' | translate}} --</option>
      </select>
    </p>
  </div> 

  <div ng-show="$ctrl.chosenTaxo">
    <h3 translate>vocabularies</h3>
    <p>
      <select chosen multiple class="chosen-select" ng-options="vocab.name as (vocab.title | localizedString) for vocab in $ctrl.vocabChoices" ng-change="$ctrl.vocabsSelected()" ng-model="$ctrl.chosenVocabs"></select>
    </p>
    <div class="help-block" translate>concept-vocabulary-help</div>
  </div>  

  <div ng-show="$ctrl.chosenVocabs && $ctrl.chosenVocabs.length === 1">
    <h3 translate>terms</h3>
    <p>
      <select chosen multiple class="chosen-select" ng-options="term.name as (term.title | localizedString) for term in $ctrl.termChoices" ng-model="$ctrl.chosenTerms"></select>
    </p>
  </div>  

  <p ng-show="$ctrl.readyToTag">
    <button class="btn btn-primary btn-responsive" type="button" ng-click="$ctrl.addTags()" translate>tag-it</button>
  </p>
</div>