<div class="table-responsive">
  <table class="table table-bordered table-striped no-padding no-margin">
    <thead>
    <tr>
      <th translate>name</th>
      <th translate>last-modified</th>
      <th translate>size</th>
      <th translate>status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="!data.isRoot">
      <td colspan="5">
        <span><a href style="text-decoration: none;" ng-click="navigateBack()"><i class="fa fa-folder"></i> ..</a></span>
      </td>
    </tr>
    <tr dir-paginate="document in data.document.children | itemsPerPage: 20"
      ng-init="fileDocument = isFile(document)">

      <td>
        <a href style="text-decoration: none;" ng-click="navigateTo(document)">
          <span><i class="fa {{getDocumentIcon(document)}}"></i> {{document.name}}</span>
        </a>
      </td>
      <td>
        {{document.timestamps.lastUpdate | amDateFormat : 'lll'}}
      </td>
      <td ng-if="fileDocument">
        {{document.size | bytes}}
      </td>
      <td ng-if="!fileDocument">
        {{document.size}}
      </td>
      <td>
        {{'publish.status.' + document.revisionStatus | translate}}
      </td>
      <td>
        <ul class="list-inline pull-right">
          <li ng-show="isFile(document)">
            <a target="_self" ng-href="ws/draft/file-dl/{{document.path}} "><i class="fa fa-download"></i></a>
          </li>
          <li>
            <a href ng-click="deleteDocument(document)"><i class="fa fa-trash"></i></a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
