<div>
  <div ng-if="data.document.state.revisions" class="table-responsive">
    <table class="table table-bordered table-striped no-padding no-margin">
      <thead>
      <tr>
        <th translate>created-on</th>
        <th translate>last-modified</th>
        <th translate width="5%">actions</th>
      </tr>
      </thead>
      <tbody>
      <tr dir-paginate="revision in data.document.state.revisions.reverse() | filter:searchText | itemsPerPage: 20">
        <td>
          {{revision.timestamps.created | amDateFormat : 'lll'}}
        </td>
        <td>
          {{revision.timestamps.lastUpdate | amDateFormat : 'lll'}}
        </td>
        <td>
          <a ng-show="!$first" href ng-click="restoreRevision(revision)"><span><i class="fa fa-undo"></i> {{restore | translate}}</span></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
