<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <a href ng-click="newDocument()" class="btn btn-info">
        <i class="fa fa-plus"></i> <span translate>new</span>
      </a>
      <publish-switch status="isPublished()" publish="publish()"></publish-switch>
    </div>
    <div class="pull-right">
      <div class="btn-group" role="group" >
        <a class="btn btn-default"
          ngf-select ngf-change="onFileSelect($files)">
          <i class="fa fa-upload"></i>
        </a>
        <a ng-if="data.isFile"
          target="_self"
          class="btn btn-default"
          ng-href="ws/draft/file-dl/{{data.document.path}} ">
          <i class="fa fa-download"></i>
        </a>
      </div>
      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-default"><i class="fa fa-files-o"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-scissors"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-clipboard"></i></button>
      </div>
      <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>
