<div class="form-group">

  <uib-tabset class="voffset4">
    <div class="pull-right">
      <button ng-if="selectedTab === 'form-preview'" ng-click="testPreview(formPreview)" class="btn btn-default btn-sm">
        <span translate>entity-sf-config.preview.test</span>
      </button>

      <button ng-click="fullscreen(selectedTab)" class="btn btn-default btn-sm" title="{{'fullscreen' | translate}}">
        <i class="glyphicon glyphicon-fullscreen"></i>
      </button>
    </div>
    <uib-tab ng-click="selectTab('form-schema')" heading="{{'entity-sf-config.schema.tab' | translate}}">
      <div id="form-schema" ui-ace="ace.options" ng-model="form.schema" class="form-control form-schema">
      </div>
      <div class="help-block" translate>entity-sf-config.schema.info</div>
    </uib-tab>
    <uib-tab ng-click="selectTab('form-definition')" heading="{{'entity-sf-config.definition.tab' | translate}}">
      <div id="form-definition" class="form-control form-definition" ui-ace="ace.options" ng-model="form.definition">
      </div>
      <div class="help-block" translate>entity-sf-config.definition.info</div>
    </uib-tab>

    <uib-tab ng-click="selectTab('form-preview')" heading="{{'entity-sf-config.preview.tab' | translate}}">
      <div id="form-preview" class="panel panel-default full-screenable">
        <div class="panel-body">
          <form name="formPreview">
            <div sf-model="form.model" sf-form="form.definitionJson" sf-schema="form.schemaJson" sf-options="sfOptions">
            </div>
          </form>
        </div>
      </div>
    </uib-tab>
    <uib-tab ng-click="selectTab('form-model')" heading="{{'entity-sf-config.model.tab' | translate}}">
      <div id="form-model" class="form-control form-definition" ui-ace="ace.options" ng-model="modelPreview">
      </div>
      <div class="help-block" translate>entity-sf-config.model.info</div>
    </uib-tab>
  </uib-tabset>
</div>
