<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017 OBiBa. All rights reserved.
  ~
  ~ This program and the accompanying materials
  ~ are made available under the terms of the GNU Public License v3.0.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration scan="true">

  <property name="LOG_FILE" value="${MICA_LOG}/spring.log"/>
  <!-- console log config -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="org.obiba" level="info"/>
  <logger name="org.obiba.es" level="debug"/>
  <logger name="org.apache.shiro.authz" level="debug"/>

  <!--<logger name="com.codahale.metrics" level="warn"/>-->
  <!--<logger name="com.ryantenney" level="warn"/>-->
  <!--<logger name="com.zaxxer" level="warn"/>-->
  <!--<logger name="org.apache" level="info"/>-->
  <!--<logger name="javax" level="info"/>-->
  <!--<logger name="org.apache.tomcat.util.descriptor.DigesterFactory" level="OFF"/>-->
  <!--<logger name="org.atmosphere" level="warn"/>-->
  <!--<logger name="freemarker" level="warn"/>-->
  <logger name="org.springframework.data" level="warn"/>
  <!--<logger name="org.bson" level="warn"/>-->
  <logger name="org.glassfish" level="warn"/>
  <!--<logger name="com.fasterxml" level="warn"/>-->
  <!--<logger name="com.google.protobuf" level="warn"/>-->
  <!--<logger name="org.apache.shiro" level="trace"/>-->
  <!--<logger name="net.sf.ehcache" level="trace"/>-->
  <!--<logger name="org.elasticsearch" level="debug"/>-->
  <!--<logger name="org.eclipse.jetty.io" level="debug"/>-->

  <appender name="mica.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MICA_LOG}/mica.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${MICA_LOG}/mica-%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <!--<pattern>%date [%thread] %-5level %logger - %message%n</pattern>-->
      <pattern>%date %-5level %logger - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="rest.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MICA_LOG}/rest.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${MICA_LOG}/rest-%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <!--encoder>
      <pattern>%date - %level - %X{username} - %X{status} - %X{method} - %message - %X{created}%n</pattern>
    </encoder-->
  </appender>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <logger name="org.obiba.mica.web.rest.security.AuditInterceptor" additivity="false" level="info">
    <appender-ref ref="rest.log"/>
  </logger>

  <root level="info">
    <appender-ref ref="mica.log"/>
  </root>

</configuration>
