<div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 translate="caching.title"></h2>
        <form name="form" role="form" novalidate class="form-horizontal">
          <div class="form-group">
            <label translate="caching.all" class="col-md-11">All</label>
            <div class="col-sm-1">
              <button type="button" class="btn btn-default" translate="caching.clear" ng-click="clearAll()">All</button>
            </div>
          </div>
          <div class="form-group">
            <label translate="caching.micaConfig" class="col-md-11">Mica Config</label>
            <div class="col-sm-1">
              <button type="button" class="btn btn-default" translate="caching.clear" ng-click="clearMicaConfig()">Clear</button>
            </div>
          </div>
          <div class="form-group">
            <label translate="caching.opalTaxonomies" class="col-md-11">Opal Taxonomies</label>
            <div class="col-sm-1">
              <button type="button" class="btn btn-default" translate="caching.clear" ng-click="clearOpalTaxonomies()">Clear</button>
            </div>
          </div>
          <div class="form-group">
            <label translate="caching.aggregationsMetadata" class="col-md-11">Aggregations Metadata</label>
            <div class="col-sm-1">
              <button type="button" class="btn btn-default" translate="caching.clear" ng-click="clearAggregationsMetadata()">Clear</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
