<div>

  <h2>
    <span translate>global.menu.admin</span>
  </h2>

  <div class="row">
    <div class="col-md-4">
      <ul class="nav nav-list xlarge-bottom-margin">
        <li class="nav-header" translate>system</li>
        <div>
          <li><a href="#/admin/general"><span><i class="fa fa-cog"></i> {{'general' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.general</small></div>
          </div>
        </div>
        <div>
          <li><a href="#/admin/caching"><span><i class="fa fa-cog"></i> {{'caching.title' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.caching</small></div>
          </div>
        </div>
        <div>
          <li><a href="#/admin/security"><span><i class="fa fa-cog"></i> {{'security' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.security</small></div>
          </div>
        </div>
        <div>
          <li><a href="#/admin/metrics"><span><i class="fa fa-cog"></i> {{'metrics.title' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.metrics</small></div>
          </div>
        </div>
        <div>
          <li><a href="#/admin/logs"><span><i class="fa fa-cog"></i> {{'global.menu.account.logs' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.logs</small></div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-list xlarge-bottom-margin">
        <li class="nav-header" translate>data-access</li>
        <div>
          <li><a href="#/admin/data-access-config"><span><i class="fa fa-cog"></i> {{'data-access-config.title' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.data-access-config</small></div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-list xlarge-bottom-margin">
        <li class="nav-header" translate>data-management</li>
        <div>
          <li><a href="#/admin/files"><span><i class="fa fa-cog"></i> {{'files' | translate}}</span></a></li>
          <div>
            <div class="help-block"><small translate>admin-page.help.file-system</small></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
