<div>

  <h2>
    <ol class="mica-breadcrumb">
      <li><a href="/#/admin" translate>global.menu.admin</a></li>
      <li class="active" translate>caching.title</li>
    </ol>
  </h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th translate>type</th>
        <th translate>actions</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span translate>caching.all</span>
          </td>
          <td>
            <a ng-click="clearAll()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>caching.micaConfig</span>
          </td>
          <td>
            <a ng-click="clearMicaConfig()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>caching.opalTaxonomies</span>
          </td>
          <td>
            <a ng-click="clearOpalTaxonomies()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>caching.aggregationsMetadata</span>
          </td>
          <td>
            <a ng-click="clearAggregationsMetadata()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>caching.datasetVariables</span>
          </td>
          <td>
            <a ng-click="clearDatasetVariables()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>caching.agateSubjects</span>
          </td>
          <td>
            <a ng-click="clearAgateSubjects()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>caching.authorization</span>
          </td>
          <td>
            <a ng-click="clearAuthorization()" class="hand action"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="voffset5" translate>caching.titleBuild</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th translate>type</th>
        <th translate>actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <span translate>caching.datasetVariables</span>
        </td>
        <td>
          <a ng-click="buildDatasetVariables()" class="hand action"><i class="fa fa-play-circle-o"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
