<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%date [%thread] %-5level %logger - %message%n</Pattern>
    </encoder>
  </appender>
  <logger name="org.obiba.mica" level="${logback.loglevel}"/>
  <logger name="ch.qos.logback" level="warn"/>
  <logger name="com.codahale.metrics" level="warn"/>
  <logger name="com.ryantenney" level="warn"/>
  <logger name="com.zaxxer" level="warn"/>
  <logger name="net.sf.ehcache" level="warn"/>
  <logger name="org.apache" level="warn"/>
  <logger name="org.apache.tomcat.util.descriptor.DigesterFactory" level="OFF"/>
  <logger name="org.hibernate.validator" level="warn"/>
  <logger name="org.hibernate" level="warn"/>
  <logger name="org.hibernate.jpa.HibernatePersistenceProvider" level="OFF"/>
  <logger name="org.atmosphere" level="warn"/>
  <logger name="org.thymeleaf" level="warn"/>
  <logger name="org.springframework" level="info"/>
  <logger name="org.springframework.boot" level="debug"/>
  <logger name="org.springframework.web" level="debug"/>

  <root level="${logback.loglevel}">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>