<div>

  <h2 translate="config.title-edit">Edit General Configuration</h2>

  <form name="form.micaConfig" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

    <div ng-show="errors[0]" class="alert alert-error">
      <button type="button" class="close" ng-click="clearErrors()">&times;</button>
      <h4>Errors! (HTTP {{httpStatus}})</h4>
      <br/>
      <ul class="unstyled">
        <li ng-repeat="(key, value) in errors">{{key}} - {{value}}</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="name" translate="config.name">Name</label>
      <input type="text" class="form-control" id="name" ng-model="micaConfig.name" server-error>

      <p class="alert alert-danger" ng-show="form.name.$dirty && form.name.$invalid">
        <span ng-show="form.name.$error.server">{{ errors.name }}</span>
      </p>

      <p class="help-block" translate="config.name-help">Name of your organization</p>
    </div>

    <div class="form-group">
      <label for="publicUrl" translate="config.publicUrl">Public URL</label>
      <input type="text" class="form-control" id="publicUrl" ng-model="micaConfig.publicUrl">

      <p class="help-block" translate="config.publicUrl-help">
        Public base URL of the server (not the web-interface one) that will be used when
        sending notification emails on report generation
      </p>
    </div>

    <div class="form-group">
      <label for="languages" translate="config.languages">Languages</label>
      <select chosen multiple id="languages" ng-model="micaConfig.languages"
          ng-options="code as name for (code, name) in availableLanguages" class="chosen-select">
      </select>

      <p class="help-block" translate="config.languages-help">
        Supported languages for studies and networks description
      </p>
    </div>

    <div class="form-group">
      <label for="defaultCharSet" translate="config.defaultCharSet">Default Character Set</label>
      <input type="text" class="form-control" id="defaultCharSet" ng-model="micaConfig.defaultCharSet">
    </div>

    <a href="#/config" class="btn btn-default">
      <span class="glyphicon glyphicon-ban-circle"></span> <span translate="cancel">Cancel</span>
    </a>

    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span> <span translate="save">Save</span>
    </button>

  </form>

</div>


