<div>

  <h2 translate="config.title">General Configuration</h2>

  <div class="modal fade" id="micaConfigModal" tabindex="-1" role="dialog" aria-labelledby="micaConfigLabel"
      aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <form name="form" role="form" novalidate
            class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="save()">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myStudyLabel" translate="config.title-edit">Edit General Configuration</h4>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <label for="name" translate="config.name">Name</label>
              <input type="text" class="form-control" id="name" ng-model="micaConfig.name">

              <p class="help-block" translate="config.name-help">Name of your organization</p>
            </div>

            <div class="form-group">
              <label for="publicUrl" translate="config.publicUrl">Public URL</label>
              <input type="text" class="form-control" id="publicUrl" ng-model="micaConfig.publicUrl">

              <p class="help-block" translate="config.publicUrl-help">
                Public base URL of the server (not the web-interface one) that will be used when
                sending notification emails on report generation
              </p>
            </div>

            <div class="form-group">
              <label for="languages" translate="config.languages">Languages</label>
              <select id="languages" chosen multiple ng-model="micaConfig.languages"
                  ng-options="code as name for (code, name) in availableLanguages" class="form-control" >
              </select>
            </div>

            <div class="form-group">
              <label for="defaultCharSet" translate="config.defaultCharSet">Default Character Set</label>
              <input type="text" class="form-control" id="defaultCharSet" ng-model="micaConfig.defaultCharSet">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-ban-circle"></span> <span translate="cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
              <span class="glyphicon glyphicon-save"></span> <span translate="save">Save</span>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <tbody>
    <tr>
      <td translate="config.name">Name</td>
      <td>{{micaConfig.name}}</td>
    </tr>
    <tr>
      <td translate="config.publicUrl">Public URL</td>
      <td>{{micaConfig.publicUrl}}</td>
    </tr>
    <tr>
      <td translate="config.languages">Languages</td>
      <td>
        <ul class="list-inline">
          <li ng-repeat="lang in micaConfig.languages">
            <span class="badge">{{lang}}</span>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td translate="config.defaultCharSet">Default Character Set</td>
      <td>{{micaConfig.defaultCharSet}}</td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#micaConfigModal" ng-click="edit()">
    <span class="glyphicon glyphicon-flash"></span> <span translate="edit">Edit</span>
  </button>

</div>
