<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

  <logger name="org.obiba" level="debug"/>

  <!--<logger name="com.codahale.metrics" level="warn"/>-->
  <!--<logger name="com.ryantenney" level="warn"/>-->
  <!--<logger name="com.zaxxer" level="warn"/>-->
  <!--<logger name="org.apache" level="info"/>-->
  <!--<logger name="javax" level="info"/>-->
  <!--<logger name="org.apache.tomcat.util.descriptor.DigesterFactory" level="OFF"/>-->
  <!--<logger name="org.atmosphere" level="warn"/>-->
  <!--<logger name="org.thymeleaf" level="warn"/>-->
  <!--<logger name="org.springframework" level="info"/>-->
  <!--<logger name="org.bson" level="warn"/>-->
  <!--<logger name="org.glassfish" level="warn"/>-->
  <!--<logger name="com.fasterxml" level="warn"/>-->
  <!--<logger name="com.google.protobuf" level="warn"/>-->
  <!--<logger name="org.apache.shiro" level="info"/>-->
  <!--<logger name="net.sf.ehcache" level="trace"/>-->
  <!--<logger name="org.elasticsearch" level="debug"/>-->

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <!--<Pattern>%date [%thread] %-5level %logger - %message%n</Pattern>-->
      <Pattern>%date %-5level %logger - %message%n</Pattern>
    </encoder>
  </appender>

  <appender name="mica.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MICA_SERVER_LOG}/mica.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${MICA_SERVER_LOG}/mica-%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <!--<pattern>%date [%thread] %-5level %logger - %message%n</pattern>-->
      <pattern>%date %-5level %logger - %message%n</pattern>
    </encoder>
  </appender>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="info">
  <appender-ref ref="console"/>
    <appender-ref ref="mica.log"/>
  </root>

</configuration>