<div id="population-{{population.id}}">

  <h4>
    <localized value="population.name" lang="tab.lang"></localized>
  </h4>

  <p>
    <localized value="population.description" lang="tab.lang"></localized>
  </p>

  <h5 translate>study.selection-criteria.label</h5>

  <dl ng-repeat="criteria in population.selectionCriteria.criteria" class="dl-horizontal no-margin-bottom">
    <dt translate>study.selection-criteria.{{criteria}}</dt>
    <dd>&nbsp;</dd>
  </dl>

  <dl class="dl-horizontal">

    <dt translate ng-show="population.selectionCriteria.gender">study.selection-criteria.gender.label</dt>
    <dd ng-show="population.selectionCriteria.gender" translate>
      study.selection-criteria.gender.{{population.selectionCriteria.gender}}
    </dd>

    <dt translate ng-show="population.selectionCriteria.ageMin || population.selectionCriteria.ageMax">
      study.selection-criteria.age
    </dt>
    <dd ng-show="population.selectionCriteria.ageMin || population.selectionCriteria.ageMax">
      <span ng-show="population.selectionCriteria.ageMin">Minimum {{population.selectionCriteria.ageMin}}</span>
      <span ng-show="population.selectionCriteria.ageMin && population.selectionCriteria.ageMax"> - </span>
      <span ng-show="population.selectionCriteria.ageMax">Maximum {{population.selectionCriteria.ageMax}}</span>
    </dd>

    <dt translate ng-show="population.selectionCriteria.countriesIso.length">study.selection-criteria.country</dt>
    <dd ng-show="population.selectionCriteria.countriesIso.length">
      <ul class="list-unstyled no-margin-bottom">
        <li ng-repeat="country in population.selectionCriteria.countriesIso">
          {{country}}
        </li>
      </ul>
    </dd>

    <dt translate ng-show="population.selectionCriteria.territory.length">study.selection-criteria.territory</dt>
    <dd ng-show="population.selectionCriteria.territory.length">
      <localized value="population.selectionCriteria.territory" lang="tab.lang"></localized>
    </dd>

    <dt translate ng-show="population.selectionCriteria.ethnicOrigin.length">study.selection-criteria.ethnic-origin</dt>
    <dd ng-show="population.selectionCriteria.ethnicOrigin.length">
      <ul class="list-unstyled no-margin-bottom">
        <li ng-repeat="ethnicOrigin in population.selectionCriteria.ethnicOrigin">
          <localized value="ethnicOrigin" lang="tab.lang"></localized>
        </li>
      </ul>
    </dd>

    <dt translate ng-show="population.selectionCriteria.healthStatus.length">study.selection-criteria.health-status</dt>
    <dd ng-show="population.selectionCriteria.healthStatus.length">
      <ul class="list-unstyled no-margin-bottom">
        <li ng-repeat="healthStatus in population.selectionCriteria.healthStatus">
          <localized value="healthStatus" lang="tab.lang"></localized>
        </li>
      </ul>
    </dd>

    <dt translate ng-show="population.selectionCriteria.otherCriteria.length">other</dt>
    <dd ng-show="population.selectionCriteria.otherCriteria.length">
      <localized value="population.selectionCriteria.otherCriteria" lang="tab.lang"></localized>
    </dd>

    <dt translate ng-show="population.selectionCriteria.info.length">suppl-info</dt>
    <dd ng-show="population.selectionCriteria.info.length">
      <localized value="population.selectionCriteria.info" lang="tab.lang"></localized>
    </dd>

  </dl>


  <h5 translate>study.recruitment-sources.label</h5>

  <!--<dl ng-repeat="dataSource in population.recruitment.dataSources" class="dl-horizontal no-margin-bottom">-->
  <!--<dt translate>study.recruitment.dataSources.{{dataSource}}</dt>-->
  <!--<dd>&nbsp;</dd>-->
  <!--</dl>-->

  <dl class="dl-horizontal">

    <dt translate ng-show="population.recruitment.generalPopulationSources.length">
      study.recruitment-sources.general-population
    </dt>
    <dd ng-show="population.recruitment.generalPopulationSources.length">
      <ul class="list-unstyled no-margin-bottom">
        <li ng-repeat="source in population.recruitment.generalPopulationSources">
          <span translate>study.recruitment-sources.general-population.{{source}}</span>
        </li>
      </ul>
    </dd>

    <dt translate
        ng-show="population.recruitment.specificPopulationSources.length || population.recruitment.otherSpecificPopulationSource.length">
      study.recruitment-sources.specific-population
    </dt>
    <dd ng-show="population.recruitment.specificPopulationSources.length || population.recruitment.otherSpecificPopulationSource.length">
      <ul class="list-unstyled no-margin-bottom">
        <li ng-repeat="source in population.recruitment.specificPopulationSources">
          <span translate>study.recruitment-sources.specific-population.{{source}}</span>
        </li>
        <li ng-show="population.recruitment.otherSpecificPopulationSource.length">
          <localized value="population.recruitment.otherSpecificPopulationSource" lang="tab.lang"></localized>
        </li>
      </ul>
    </dd>

    <dt translate ng-show="population.recruitment.studies.length">study.recruitment-sources.studies</dt>
    <dd ng-show="population.recruitment.studies.length">
      <ul class="list-unstyled no-margin-bottom">
        <li ng-repeat="localizedStudies in population.recruitment.studies">
          <span ng-repeat="study in localizedStudies">
            <localized value="study" lang="tab.lang"></localized>
          </span>
        </li>
      </ul>
    </dd>

    <dt translate ng-show="population.recruitment.otherSource.length">other</dt>
    <dd ng-show="population.recruitment.otherSource.length">
      <localized value="population.recruitment.otherSource" lang="tab.lang"></localized>
    </dd>

    <dt translate ng-show="population.recruitment.info.length">suppl-info</dt>
    <dd ng-show="population.recruitment.info.length">
      <localized value="population.recruitment.info" lang="tab.lang"></localized>
    </dd>

  </dl>


  <dl class="dl-horizontal" ng-show="population.numberOfParticipants">

    <dt translate ng-show="population.numberOfParticipants.participant">study.participants-number.participant</dt>
    <dd ng-show="population.numberOfParticipants.participant">
      {{population.numberOfParticipants.participant | number}}
      <span ng-show="population.numberOfParticipants.participant.noLimit" translate>study.target-number.no-limit</span>
    </dd>

    <dt translate ng-show="population.numberOfParticipants.sample">study.participants-number.sample</dt>
    <dd ng-show="population.numberOfParticipants.sample">
      {{population.numberOfParticipants.sample | number}}
      <span ng-show="population.numberOfParticipants.sample.noLimit" translate>study.target-number.no-limit</span>
    </dd>

  </dl>

  <h5 translate ng-show="population.info.length">suppl-info</h5>
  <localized value="population.info" lang="tab.lang"></localized>

  <div class="clearfix"></div>

  <h5 translate ng-show="population.dataCollectionEvents.length">study.data-collection-events</h5>

  <table class="table table-striped" ng-show="population.dataCollectionEvents.length">
    <thead>
    <tr>
      <th translate>study.name</th>
      <th translate>study.description</th>
      <th translate>study.start</th>
      <th translate>study.end</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="dce in population.dataCollectionEvents">
      <td>
        <localized value="dce.name" lang="tab.lang"></localized>
      </td>
      <td>
        <localized value="dce.description" lang="tab.lang"></localized>
      </td>
      <td>
        {{dce.startYear}} <span ng-show="dce.startMonth">({{months[dce.startMonth - 1]}})</span>
      </td>
      <td>
        {{dce.endYear}} <span ng-show="dce.endMonth">({{months[dce.endMonth - 1]}})</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>