<div>
  <a class="btn btn-danger btn-responsive" ng-click="onDelete()" ng-if="state.permissions.delete && state.revisionStatus === 'DELETED'">
    <i class="fa fa-trash"></i>
    <span translate>delete</span>
  </a>
  <a ng-click="onPublish()" class="btn btn-info btn-responsive" ng-disabled="state.publishedTag !== undefined && state.revisionsAhead == 0" ng-if="state.permissions.publish && state.revisionStatus === 'UNDER_REVIEW'">
    <i class="fa fa-star"></i>
    <span translate>publish.label</span>
  </a>
  <a class="btn btn-info btn-responsive" ng-click="onUnPublish()" ng-if="state.permissions.publish && state.publishedTag !== undefined">
    <i class="fa fa-star-o"></i>
    <span translate>publish.un-publish</span>
  </a>
  <div class="btn-group" ng-if="state.permissions.edit">
    <button type="button" class="btn btn-default btn-responsive dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{'publish.status.' + state.revisionStatus | translate}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li>
        <a ng-click="toDraft()" ng-if="state.revisionStatus !== 'DRAFT'">
          <i class="fa fa-arrow-left"></i>
          <span translate>publish.status.draft</span>
        </a>
      </li>
      <li>
        <a ng-click="toUnderReview()" ng-if="state.revisionStatus === 'DRAFT' && (state.publishedTag === undefined || state.revisionsAhead > 0)">
          <i class="fa fa-arrow-right"></i>
          <span translate>publish.status.under-review</span>
        </a>
      </li>
      <li>
        <a ng-click="toDeleted()" ng-if="state.revisionStatus !== 'DELETED'">
          <i class="fa fa-arrow-right"></i>
          <span translate>publish.status.deleted</span>
        </a>
      </li>
    </ul>
  </div>
</div>
