<div>

  <h3 ng-if="model.type==='taxonomy'">
    <ol class="breadcrumb mica-breadcrumb">
      <li class="active">{{model.content.name}}</li>
    </ol>
  </h3>

  <div class="row" ng-if="model.type!=='taxonomy'">
    <div class="col-xs-9">
      <ol class="breadcrumb mica-breadcrumb h3">
        <li><a href ng-click="navigateToTaxonomy()">{{taxonomy.name}}</a></li>
        <li class="active">{{model.content.name}}</li>
      </ol>
    </div>
    <div ng-if="target.editable && !isStatic(model.content, model.forClassName)" class="col-xs-3" >
      <a class="btn btn-danger pull-right" href ng-click="deleteCriterion()"><i class="fa fa-trash"></i> <span translate>delete</span></a>
    </div>
  </div>

  <div>
    <span class="h4" translate>properties</span>
    <a ng-if="target.editable" ng-click="edit()"> <i class="fa fa-pencil-square-o hand"></i></a>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <!-- Taxonomy Properties -->
      <tbody ng-if="model.type==='taxonomy'">
      <tr>
        <th translate>global.title</th>
        <td>
          <property-view property="model.content.title"></property-view>
        </td>
      </tr>
      <tr>
        <th translate>description</th>
        <td>
          <property-view property="model.content.description"></property-view>
        </td>
      </tr>
      </tbody>

      <!-- Vocabulary Properties -->
      <tbody ng-if="model.type!=='taxonomy'">
      <tr>
        <th translate>global.title</th>
        <td>
          <property-view property="model.content.title"></property-view>
        </td>
      </tr>
      <tr>
        <th translate>description</th>
        <td>
          <property-view property="model.content.description"></property-view>
        </td>
      </tr>
      <tr>
        <th translate>global.repeatable</th>
        <td translate>
          {{'global.'+model.content.repeatable | translate}}
        </td>
      </tr>
      <tr>
        <th translate>taxonomy-config.criterion-dialog.hidden</th>
        <td translate>
          {{'global.'+getHidden(model.content) | translate}}
        </td>
      </tr>
      <tr>
        <th translate>global.localized</th>
        <td translate>
          {{'global.'+getLocalized(model.content) | translate}}
        </td>
      </tr>
      <tr>
        <th translate>global.field</th>
        <td>
          {{getField(model.content)}}
        </td>
      </tr>
      <tr>
        <th translate>type</th>
        <td>
          {{getTypeMap(model.content).title}}
        </td>
      </tr>
      <tr ng-if="'string' !== getTypeMap(model.content).value">
        <th translate>taxonomy-config.criterion-dialog.range-aggregation</th>
        <td>
          {{getRange(model.content)}}
        </td>
      </tr>
      <tr>
        <th translate>taxonomy-config.criterion-dialog.terms-sort-key</th>
        <td>
          {{getTermsSortKeyMap(model.content).title}}
        </td>
      </tr>
      <tr>
        <th translate>taxonomy-config.criterion-dialog.facet</th>
        <td translate>
          {{'global.'+getFacet(model.content) | translate}}
        </td>
      </tr>
      <tr ng-if="getFacet(model.content)">
        <th translate>taxonomy-config.criterion-dialog.facet-position</th>
        <td translate>
          {{getFacetPosition(model.content)}}
        </td>
      </tr>
      <tr ng-if="getFacet(model.content)">
        <th translate>taxonomy-config.criterion-dialog.facet-expanded</th>
        <td translate>
          {{'global.'+getFacetExpanded(model.content) | translate}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
