<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{getTitle()}}</h4>
  </div>

  <div class="modal-body">
    <form name="form" role="form" >
      <div sf-model="sfForm.model" sf-form="sfForm.definition" sf-schema="sfForm.schema" sf-options="sfOptions"></div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">
      <span translate>cancel</span>
    </button>
    <button type="button" class="btn btn-info" ng-click="apply()">
      <span translate>apply</span>
    </button>
  </div>

</div>
