<div>

  <h2 translate="study.label-edit">Edit Study</h2>

  <form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

    <p class="alert alert-danger" ng-show="form.$dirty && form.$invalid">Fix errors bellow</p>

    <tabset>
      <tab ng-repeat="lang in languages" heading="{{lang}}">

        <tabset>
          <tab heading="General Information">
            <div ng-include="'scripts/study/views/study-general-info-form.html'"></div>
          </tab>
          <tab heading="Authorization">
            <div ng-include="'scripts/study/views/study-authorization-form.html'"></div>
          </tab>
          <tab heading="Methods">
            <div ng-include="'scripts/study/views/study-methods-form.html'"></div>
          </tab>
          <tab heading="Access">
            <div ng-include="'scripts/study/views/study-access-form.html'"></div>
          </tab>
          <tab heading="Marker Paper">
            <div ng-include="'scripts/study/views/study-marker-paper-form.html'"></div>
          </tab>
          <tab heading="Documents">
            <div ng-include="'scripts/study/views/study-document-form.html'"></div>
          </tab>
          <tab heading="Supplementary Information">
          </tab>
        </tabset>

      </tab>
    </tabset>

    <a href="#/study" class="btn btn-default">
      <span class="glyphicon glyphicon-ban-circle"></span> <span translate="cancel">Cancel</span>
    </a>

    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span> <span translate="save">Save</span>
    </button>

  </form>

</div>
