# OBiBa/mica2 systemd service file

[Unit]
Description=OBiBa Mica service

[Service]
WorkingDirectory=/var/lib/mica2
EnvironmentFile=/etc/default/mica2
User=mica
LimitNOFILE=16384
StandardOutput=file:/var/log/mica2/stdout.log
StandardError=file:/var/log/mica2/stderr.log
ExecStart=/usr/share/mica2/bin/start.sh

[Install]
WantedBy=network-online.target
