<h4>
  <span class="badge">{{population.id}}</span>
  <localized value="population.name" lang="tab.lang"></localized>
  <div class="inline" ng-if="$parent.inViewMode() && hasRole(['mica-administrator','mica-reviewer','mica-editor'])">
    <a ng-click="editPopulation(study, population)" class="action"><i class="fa fa-pencil"></i></a>
    <a ng-click="deletePopulation(population, $index)" class="action"><i class="fa fa-trash-o"></i></a>
  </div>
</h4>

<p>
  <localized value="population.description" lang="tab.lang"></localized>
</p>

<tabset>
  <tab heading="{{'study.definition' | translate}}">
    <div class="row">
      <div class="col-md-6">
        <h4 translate>study.selection-criteria.label</h4>
        <table class="table table-bordered table-striped">
          <tbody>
          <tr>
            <th translate>study.selection-criteria.criteria</th>
            <td>
          <span ng-repeat="c in population.selectionCriteria.criteria">
          {{getLabel('selectionCriteriaCriteria', c, tab.lang)}}{{$last ? '' : ', '}}
          </span>
            </td>
          </tr>
          <tr>
            <th translate>study.selection-criteria.gender.label</th>
            <td ng-bind="getLabel('populations-selectionCriteria-gender', population.selectionCriteria.gender, tab.lang)">
            </td>
          </tr>
          <tr>
            <th translate>
              study.selection-criteria.age
            </th>
            <td>
              <span ng-show="population.selectionCriteria.ageMin">Minimum {{population.selectionCriteria.ageMin}}</span>
              <span ng-show="population.selectionCriteria.ageMin && population.selectionCriteria.ageMax"> - </span>
              <span ng-show="population.selectionCriteria.ageMax">Maximum {{population.selectionCriteria.ageMax}}</span>
            </td>
          </tr>
          <tr>
            <th translate>study.selection-criteria.country</th>
            <td>
              <ul class="list-unstyled no-margin-bottom">
                <li ng-repeat="country in population.selectionCriteria.countriesIso">
                  {{country}}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th translate>study.selection-criteria.territory</th>
            <td>
              <localized value="population.selectionCriteria.territory" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr>
            <th translate>study.selection-criteria.ethnic-origin</th>
            <td>
              <ul class="list-unstyled no-margin-bottom">
                <li ng-repeat="ethnicOrigin in population.selectionCriteria.ethnicOrigin">
                  <localized value="ethnicOrigin.localizedStrings" lang="tab.lang"></localized>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th translate>study.selection-criteria.health-status</th>
            <td>
              <ul class="list-unstyled no-margin-bottom">
                <li ng-repeat="healthStatus in population.selectionCriteria.healthStatus">
                  <localized value="healthStatus.localizedStrings" lang="tab.lang"></localized>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th translate>other</th>
            <td>
              <localized value="population.selectionCriteria.otherCriteria" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr>
            <th translate>population.info</th>
            <td>
              <localized value="population.selectionCriteria.info" lang="tab.lang"></localized>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h4 translate>study.recruitment-sources.label</h4>
        <table class="table table-bordered table-striped">
          <tbody>
          <tr>
            <th translate>
              study.recruitment-sources.general-population
            </th>
            <td>
              <ul class="list-unstyled no-margin-bottom">
                <li ng-repeat="source in population.recruitment.generalPopulationSources">
                  <span ng-bind="getLabel('populations-recruitment-generalPopulationSources', source, tab.lang)"></span>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th translate>
              study.recruitment-sources.specific-population
            </th>
            <td>
              <ul class="list-unstyled no-margin-bottom">
                <li ng-repeat="source in population.recruitment.specificPopulationSources">
                  <span ng-bind="getLabel('populations-recruitment-specificPopulationSources', source, tab.lang)"></span>
                </li>
                <li ng-show="population.recruitment.otherSpecificPopulationSource.length">
                  <localized value="population.recruitment.otherSpecificPopulationSource" lang="tab.lang"></localized>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th translate>study.recruitment-sources.studies</th>
            <td>
              <ul class="list-unstyled no-margin-bottom">
                <li ng-repeat="localizedStudies in population.recruitment.studies">
          <span ng-repeat="study in localizedStudies">
            <localized value="study" lang="tab.lang"></localized>
          </span>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th translate>other</th>
            <td>
              <localized value="population.recruitment.otherSource" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr>
            <th translate>study.recruitment-sources.info</th>
            <td>
              <localized value="population.recruitment.info" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr>
            <th translate>numberOfParticipants.participants</th>
            <td>
              <span ng-hide="population.numberOfParticipants.participant.noLimit">{{population.numberOfParticipants.participant.number}}</span>
          <span ng-show="population.numberOfParticipants.participant.noLimit"
            translate>numberOfParticipants.no-limit</span>
            </td>
          </tr>
          <tr>
            <th translate>numberOfParticipants.sample</th>
            <td>
              <span ng-hide="population.numberOfParticipants.sample.noLimit">{{population.numberOfParticipants.sample.number}}</span>
              <span ng-show="population.numberOfParticipants.sample.noLimit" translate>numberOfParticipants.no-limit</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </tab>


  <tab heading="{{'suppl-info' | translate}}" ng-show="population.info">
    <localized value="population.info" lang="tab.lang"></localized>
  </tab>

  <tab heading="{{'study.data-collection-events' | translate}}">
    <div>
      <a ng-if="inViewMode()" ng-click="addDataCollectionEvent(study, population)" class="btn btn-info btn-sm voffset1">
        <i class="fa fa-plus"></i> <span translate>study.add-data-collection-event</span>
      </a>
      <div ng-show="population.dataCollectionEvents.length > 1" class="label label-default pull-right voffset3">
        <span translate>total</span>
        <span>{{population.dataCollectionEvents.length}}</span>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfixtable-responsive">
      <table class="table table-bordered table-striped" ng-show="population.dataCollectionEvents.length">
        <thead>
        <tr>
          <th>#</th>
          <th translate>study.name</th>
          <th translate>study.description</th>
          <th translate>study.start</th>
          <th translate>study.end</th>
          <th ng-if="inViewMode()" translate>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dce in population.dataCollectionEvents">
          <td>
            {{dce.id}}
          </td>
          <td>
            <localized value="dce.name" lang="tab.lang"></localized>
          </td>
          <td>
            <localized value="dce.description" lang="tab.lang"></localized>
          </td>
          <td>
            {{dce.startYear}} <span ng-show="dce.startMonth">({{months[dce.startMonth - 1]}})</span>
          </td>
          <td>
            {{dce.endYear}} <span ng-show="dce.endMonth">({{months[dce.endMonth - 1]}})</span>
          </td>
          <td ng-if="inViewMode()" class="action-column">
            <a ng-click="showDataCollectionEvent(study, population, dce)" class="hand action"><i
              class="fa fa-eye"></i></a>
            <div class="inline" ng-if="hasRole(['mica-administrator','mica-reviewer','mica-editor'])">
              <a ng-click="editDataCollectionEvent(study, population, dce)" class="hand action"><i
                class="fa fa-pencil"></i></a>
              <a ng-click="addDataCollectionEvent(study, population, dce)" class="hand action"  translate title="{{'clone' | translate}}"><i
                class="fa fa-files-o"></i></a>
              <a ng-click="deleteDataCollectionEvent(population, dce)" class="hand action"><i
                class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </tab>
</tabset>



