<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="$ctrl.onClose()">&times;</button>
    <h4 class="modal-title" id="entity-list-modal">
      <span>{{'persons.entity-list-dialog.' + $ctrl.entityType + '-title' | translate }}</span>
    </h4>
  </div>

  <div class="modal-body">
    <person-entity-list
      roles="$ctrl.roles"
      entity-type="$ctrl.entityType"
      entity-search-resource="$ctrl.entitySearchResource"
      memberships="$ctrl.memberships"
      entity-type="$ctrl.entityType"
      fullname="$ctrl.fullname"
      filter-query="$ctrl.query"
      on-roles-selected="$ctrl.onRolesSelected(selectedRoles)"
      on-entities-selected="$ctrl.onEntitiesSelected(selectedEntities)">
    </person-entity-list>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.onClose()">
      <span translate>cancel</span>
    </button>
    <button ng-disabled="$ctrl.addDisabled" ng-click="$ctrl.onAdd()" class="btn btn-primary">
      <span translate>global.add</span>
    </button>
  </div>
</div>
