<div class="alert alert-warning actions-select">
  <span ng-show="!$ctrl.allSelected && $ctrl.selectionsCount > 0">
    <a href ng-click="$ctrl.selectAll()" class="hoffset1">
      <i class="fa fa-square-o"></i>
      <span translate>table-selections.select-all</span>
    </a>
    <span class="pull-right">
      {{'persons.selected-entities' | translate:{count: $ctrl.selectionsCount, entities: $ctrl.entitiesType} }}
    </span>
  </span>
  <span ng-show="$ctrl.allSelected">
    <a href ng-click="$ctrl.selectAll()" class="hoffset1">
      <i class="fa fa-check-square-o"></i>
      <b><span translate>table-selections.unselect-all</span></b>
    </a>
  <span class="pull-right" translate>table-selections.all-selected</span>
  </span>
</div>
