<div class="table-responsive" ng-if="$ctrl.memberships.length > 0">
  <h4>{{$ctrl.title}}</h4>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th translate>study.acronym</th>
      <th class="col-md-6" translate>study.name</th>
      <th translate>roles</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="membership in $ctrl.memberships | itemsPerPage: $ctrl.limit" total-items="$ctrl.total" pagination-id="memberships">
      <td>
        <a ng-href="#/{{$ctrl.entityType}}/{{membership.parentId}}">
          <localized value="membership.parentAcronym" lang="lang"></localized>
        </a>
      </td>
      <td>
        <localized value="membership.parentName" lang="lang"></localized>
      </td>
      <td>
            <span ng-repeat="membership in membership.studyMemberships">
              <a ng-href="#/{{membership['obiba.mica.membershipDto.StudyMembershipDto.meta'].type}}/{{membership.parentId}}" ng-click="cancel()">
                <localized value="membership.parentAcronym" lang="lang"></localized>
              </a>
              (<em>{{'contact.label.' + membership.role | translate}}</em>)<span ng-if="!$last">,</span>
            </span>
      </td>
      <td>
            <span ng-repeat="membership in membership.networkMemberships">
              <a ng-href="#/network/{{membership.parentId}}" ng-click="cancel()">
                <localized value="membership.parentAcronym" lang="lang"></localized>
              </a>
              (<em>{{'contact.label.' + membership.role | translate}}</em>)<span ng-if="!$last">,</span>
            </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
