<div>
  <h2>
    <ol class="breadcrumb mica-breadcrumb">
      <li><a href ng-click="$ctrl.navigateOut('/persons')" translate>persons.title</a></li>
      <li class="active">{{$ctrl.person.firstName}} {{$ctrl.person.lastName}}</li>
    </ol>
  </h2>

  <p ng-if="$ctrl.loading" class="voffset2 loading"></p>

  <div class="alert alert-warning" role="alert" ng-if="$ctrl.person && $ctrl.person.id && !$ctrl.memberships.networks && !$ctrl.memberships.studies">
    <span>{{'persons.no-memberships' | translate:{fullname: $ctrl.person.firstName+' '+ $ctrl.person.lastName} }}</span>
  </div>

  <obiba-alert id="PersonViewComponent"></obiba-alert>

  <div class="tabs-menu hidden-print" ng-class="{'tabs-left': $ctrl.layoutHelper.is('lg')}">
    <ul class="nav nav-tabs">
      <li ng-class="{'active': $ctrl.mode === 'view'}">
        <a href="#/person/{{$ctrl.person.id}}" title="{{'view' | translate}}"><i class="fa fa-eye"></i></a>
      </li>
      <li ng-class="{'active': $ctrl.mode === 'revisions'}">
        <a href="#/person/{{$ctrl.person.id}}/revisions" title="{{'revisions' | translate}}"><i class="fa fa-list-ol"></i></a>
      </li>
    </ul>
  </div>

  <div ng-if="$ctrl.mode !== 'view'" class="pull-right">
    <a href class="btn btn-default" ng-click="$ctrl.onCancel()">
      <span translate>cancel</span>
    </a>
    <a ng-if="!$ctrl.validated" href class="btn btn-info" ng-click="$ctrl.onValidate()">
      <span translate>validate</span>
    </a>
    <a ng-if="$ctrl.mode !== 'view' && $ctrl.validated" href class="btn btn-primary" ng-click="$ctrl.onSave()">
      <span translate>save</span>
    </a>
  </div>

  <div ng-if="$ctrl.mode === 'view'" class="pull-right">
    <a href ng-click="$ctrl.navigateOut('/person/'+$ctrl.person.id+'/edit')" class="btn btn-primary">
      <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
    </a>
    <a href class="btn btn-danger" ng-click="$ctrl.onDelete()">
      <i class="fa fa-trash"></i> <span translate>delete</span>
    </a>
  </div>

  <div class="clearfix"></div>

  <form name="form" role="form" novalidate>
    <div ng-if="$ctrl.mode === 'new'" class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <div class="">
          <institution-selector on-selected="$ctrl.onInstitutionSelected(value)"></institution-selector>
        </div>

      </div>
    </div>
    <div sf-model="$ctrl.person" sf-form="$ctrl.sfForm.definition" sf-schema="$ctrl.sfForm.schema" sf-options="$ctrl.sfOptions"></div>
  </form>

  <div ng-if="$ctrl.person.id">
    <div class="voffset5">
      <h4 translate>networks</h4>
      <p class="help-block" ><span translate>persons.network-roles-table-help</span></p>

      <a href class="btn btn-primary" ng-click="$ctrl.addNetworks()">
        <i class="fa fa-plus"></i> <span translate>persons.add-networks</span>
      </a>

      <person-memberships
        entity-type="network"
        memberships="$ctrl.memberships.networks"
        roles="$ctrl.config.roles"
        on-delete-entity="$ctrl.onDeleteEntity(entityType, entity)"
        on-edit-entity="$ctrl.onEditEntity(entityType, entity)">
      </person-memberships>
    </div>

    <div class="voffset5">
      <h4 translate>global.individual-studies</h4>
      <p class="help-block" ><span translate>persons.study-roles-table-help</span></p>

      <a href class="btn btn-primary" ng-click="$ctrl.addStudies('individual-study')">
        <i class="fa fa-plus"></i> <span translate>persons.add-studies</span>
      </a>
      <person-memberships
        entity-type="study"
        memberships="$ctrl.memberships.studies"
        roles="$ctrl.config.roles"
        on-delete-entity="$ctrl.onDeleteEntity(entityType, entity)"
        on-edit-entity="$ctrl.onEditEntity(entityType, entity)">
      </person-memberships>
    </div>

    <div class="voffset5">
      <h4 translate>global.harmonization-studies</h4>
      <p class="help-block" ><span translate>persons.initiative-roles-table-help</span></p>

      <a href class="btn btn-primary" ng-click="$ctrl.addInitiatives()">
        <i class="fa fa-plus"></i> <span translate>persons.add-initiatives</span>
      </a>
      <person-memberships
        entity-type="study"
        memberships="$ctrl.memberships.initiatives"
        roles="$ctrl.config.roles"
        on-delete-entity="$ctrl.onDeleteEntity(entityType, entity)"
        on-edit-entity="$ctrl.onEditEntity(entityType, entity)">
      </person-memberships>
    </div>
  </div>
</div>
