<div>
  <h2>
    <ol class="breadcrumb mica-breadcrumb">
      <li><a href="#/persons" translate>persons.title</a></li>
      <li class="active" >{{$ctrl.person.firstName}} {{$ctrl.person.lastName}}</li>
    </ol>
  </h2>

  <div ng-if="$ctrl.mode === 'view'" class="pull-right">
    <a ng-href="#/person/{{$ctrl.person.id}}/edit" class="btn btn-primary">
      <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
    </a>
    <a href class="btn btn-danger" ng-click="$ctrl.onDelete()">
      <i class="fa fa-trash"></i> <span translate>delete</span>
    </a>
  </div>

  <div class="clearfix"></div>

  <form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">
    <div sf-model="$ctrl.person" sf-form="$ctrl.sfForm.definition" sf-schema="$ctrl.sfForm.schema" sf-options="$ctrl.sfOptions"></div>
  </form>

  <div ng-if="$ctrl.mode !== 'view'">
    <a href class="btn btn-default" ng-click="$ctrl.onCancel()">
      <span translate>cancel</span>
    </a>
    <a href class="btn btn-primary" ng-click="$ctrl.onSave()">
      <span translate>save</span>
    </a>
  </div>

  <div>
    <h4 translate>networks</h4>

    <a href class="btn btn-primary" ng-click="$ctrl.addNetworks()">
      <i class="fa fa-plus"></i> <span translate>persons.add-networks</span>
    </a>
    <person-memberships
      entity-type="network"
      membership="$ctrl.memberships.networks"
      roles="$ctrl.config.roles"
      on-delete-entities="$ctrl.onDeleteEntities(entityType, entities)">
    </person-memberships>
  </div>

  <div class="voffset7">
    <h4 translate>studies</h4>

    <a href class="btn btn-primary" ng-click="$ctrl.addStudies()">
      <i class="fa fa-plus"></i> <span translate>persons.add-studies</span>
    </a>
    <person-memberships
      entity-type="study"
      membership="$ctrl.memberships.studies"
      roles="$ctrl.config.roles"
      on-delete-entities="$ctrl.onDeleteEntities(entityType, entities)">
    </person-memberships>
  </div>

</div>
