<div>
  <div ng-include="'app/study/views/harmonization-study-view-header.html'" ng-init="tabName='tags'"></div>

  <h3 translate>tags</h3>

  <p>
    <small class="help-block inline">{{'global.lastUpdate' | translate}}: {{studySummary.timestamps.lastUpdate | amDateFormat : 'lll'}}
    </small>
    <publish-status class="inline" state="studySummary['obiba.mica.EntityStateDto.studySummaryState']"></publish-status>
  </p>

  <tag-by-concept taxos="usableVariableTaxonomiesForConceptTagging" current="attributes"></tag-by-concept>
</div>