<div>
  <div ng-include="'app/study/views/harmonization-study-view-header.html'" ng-init="tabName='tags'"></div>

  <h3 translate>annotation-by-concept.title</h3>

  <p>
    <small class="help-block inline">{{'global.lastUpdate' | translate}}: {{studySummary.timestamps.lastUpdate | amDateFormat : 'lll'}}
    </small>
    <publish-status class="inline" state="studySummary.state"></publish-status>
  </p>

  <div class="help-block" style="padding-top: 1rem">
    {{'annotation-by-concept.description' | translate}}
  </div>

  <annotation-selector taxos="usableVariableTaxonomiesForConceptTagging" current="study.attributes" on-update="updateTags(newTags)"></annotation-selector>

</div>
