<div>
  <h2>
    <ol class="mica-breadcrumb">
      <li><a href="/#/study" translate>studies</a></li>
      <li class="active">{{study.id}}</li>
    </ol>
  </h2>

  <div class="tabs-menu" ng-class="{'tabs-left': screen.is('lg')}">
    <ul class="nav nav-tabs">
      <li><a href="#/study/{{study.id}}" title="{{'view' | translate}}"><i class="fa fa-eye"></i></a></li>
      <li class="active">
        <a href="#/study/{{study.id}}/revisions" title="{{'revisions' | translate}}"><i class="fa fa-list-ol"></i></a>
      </li>
      <li><a href="#/study/{{study.id}}/files" title="{{'files' | translate}}"><i class="fa fa-file"></i></a></li>
      <li><a href="#/study/{{study.id}}/permissions" title="{{'permissions' | translate}}"><i
        class="fa fa-lock"></i></a></li>
    </ul>
  </div>

  <revisions
    id="{{studyId}}"
    title="{{'revisions' | translate}}"
    state="studySummary['obiba.mica.StudyStateDto.state']"
    on-fetch-revisions="fetchRevisions"
    on-restore-revision="restoreRevision"
    on-view-revision="viewRevision"></revisions>
  <h3 class="voffset5" translate>study.label</h3>

  <small class="help-block">
    {{'revision-date' | translate}}: {{commitInfo.date | amDateFormat : 'lll'}} ({{commitInfo.author}})
  </small>
  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-include="'app/study/views/study-view-details.html'"></div>
    </div>
  </div>

</div>
