<div>
  <h2 class="voffset5">
    <ol class="mica-breadcrumb">
      <li><a href="/#/study" translate>studies</a></li>
      <li ng-if="!newStudy" class="active">
        <a ng-href="/#/study/{{study.id}}">{{study.id}}</a>
      </li>
      <li class="active">
        <span ng-if="newStudy" translate>add-sm</span>
        <span ng-if="!newStudy" translate>edit-sm</span>
        <small>
          <span translate>or</span>
          <a ng-click="cancel()">
            <span translate>cancel-sm</span>
          </a>
        </small>
      </li>
    </ol>
  </h2>

  <form name="form" role="form" novalidate
    class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

    <p class="alert alert-danger" ng-show="form.saveAttempted && form.$invalid" translate="">fix-error</p>

    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{'language.' + tab.lang | translate}}" active="tab.active"
        disabled="tab.disabled">


        <div class="row">
          <div class="col-md-6">
            <div ng-include="'app/study/views/study-general-info-form.html'"></div>
            <div ng-include="'app/study/views/study-attributes-form.html'"></div>
          </div>
          <div class="col-md-6">
            <div ng-include="'app/study/views/study-methods-form.html'"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div ng-include="'app/study/views/study-access-form.html'"></div>
          </div>
          <div class="col-md-6">
            <div ng-include="'app/study/views/study-marker-paper-form.html'"></div>
          </div>
        </div>

        <div ng-include="'app/study/views/study-authorization-form.html'"></div>

        <div class="row">
          <div class="col-md-6">
            <div ng-include="'app/study/views/study-document-form.html'"></div>
          </div>
          <div class="col-md-6">
            <div ng-include="'app/study/views/study-datasets-form.html'"></div>
          </div>
        </div>

        <!--TODO -->
        <!--<div ng-include="'app/study/views/study-supplementary-info-form.html'"></div>-->

      </tab>
    </tabset>

    <div class="row">
      <div class="col-md-6">
        <input class="form-control" ng-model="revision.comment"
          placeholder="{{'study.revision.update-comment' | translate}}" type="text">
        <div class="voffset1">
          <button type="button" class="btn btn-default" ng-click="cancel()">
            <span translate>cancel</span>
          </button>
          <button type="submit" class="btn btn-primary">
            <span translate>save</span>
          </button>
        </div>
      </div>
    </div>

  </form>

</div>
