<h3 translate>study.authorization.label</h3>

<h4>Maelstrom authorization</h4>
<div form-checkbox name="study.maelstromAuthorization.authorized" model="study.maelstromAuthorization.authorized" lang="tab.lang" label="study.authorization.maelstrom"></div>
<div class="row">
  <div class="col-md-6">
    <div form-input name="study.maelstromAuthorization.authorizer" model="study.maelstromAuthorization.authorizer" label="study.authorization.authorizer"></div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <label translate>study.authorization.date</label>
      <p class="input-group">
        <input readonly="readonly" type="text" class="form-control" uib-datepicker-popup ng-model="authorization.maelstrom.date" is-open="datePicker.maelstrom.opened" current-text="{{'today' | translate}}" clear-text="{{'clear' | translate}}" close-text="{{'close' | translate}}">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'maelstrom')"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
      </p>
    </div>
  </div>
</div>


<h4>Specific authorization</h4>
<div form-checkbox name="study.specificAuthorization.authorized" model="study.specificAuthorization.authorized" lang="tab.lang" label="study.authorization.specific"></div>
<div class="row">
  <div class="col-md-6">
    <div form-input name="study.specificAuthorization.authorizer" model="study.specificAuthorization.authorizer" label="study.authorization.authorizer"></div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <label translate>study.authorization.date</label>
      <p class="input-group">
        <input readonly="readonly" type="text" class="form-control" uib-datepicker-popup ng-model="authorization.specific.date" is-open="datePicker.specific.opened" current-text="{{'today' | translate}}" clear-text="{{'clear' | translate}}" close-text="{{'close' | translate}}">

  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'specific')"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
      </p>
    </div>
  </div>
</div>
