<div>

  <h2 translate>studies</h2>

  <button class="btn btn-primary">
    <i class="fa fa-plus"></i> <span translate>study.add</span>
  </button>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th translate>study.name</th>
        <th>Published</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="study in studies">
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="name in study.name">
              <span class="badge">{{name.lang}}</span> {{name.value}}
            </li>
          </ul>
        </td>
        <td>
          <i class="fa fa-star-o" ng-show="study.publishedTag === undefined"
              title="{{'study.publication.not-published' | translate}}"></i>
          <i class="fa fa-star-half-o" ng-show="study.publishedTag !== undefined && study.revisionsAhead > 0"
              title="{{'study.publication.published-out-of-date' | translate}}"></i>
          <i class="fa fa-star" ng-show="study.publishedTag !== undefined && study.revisionsAhead == 0"
              title="{{'study.publication.published' | translate}}"></i>
          <span class="label label-info" ng-show="study.publishedTag !== undefined && study.revisionsAhead > 0"
              title="{{'study.publication.revisions-ahead' | translate}}">{{study.revisionsAhead}}</span>
        </td>
        <td>
          <ul class="list-inline">
            <li>
              <a ng-href="#/study/{{study.id}}" translate>view</a>
            </li>
            <li>
              <a ng-href="#/study/{{study.id}}/edit" translate>edit</a>
            </li>
            <li>
              <a ng-href="#/study/{{study.id}}/delete" translate>delete</a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
