<div>

  <h2 translate>study.label-edit</h2>

  <form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

    <p class="alert alert-danger" ng-show="form.saveAttempted && form.$invalid" translate="">fix-error</p>

    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{tab.labelKey | translate}}" active="tab.active" disabled="tab.disabled">

        <tabset>
          <tab heading="{{'study.general-info' | translate}}">
            <div ng-include="'app/study/views/study-general-info-form.html'"></div>
          </tab>
          <tab heading="{{'study.authorization.label' | translate}}">
            <div ng-include="'app/study/views/study-authorization-form.html'"></div>
          </tab>
          <tab heading="{{'study.methods' | translate}}">
            <div ng-include="'app/study/views/study-methods-form.html'"></div>
          </tab>
          <tab heading="{{'study.access.label' | translate}}">
            <div ng-include="'app/study/views/study-access-form.html'"></div>
          </tab>
          <tab heading="{{'study.marker-paper' | translate}}">
            <div ng-include="'app/study/views/study-marker-paper-form.html'"></div>
          </tab>
          <tab heading="{{'study.documents' | translate}}">
            <div ng-include="'app/study/views/study-document-form.html'"></div>
          </tab>
          <tab heading="{{'suppl-info' | translate}}">
          </tab>
        </tabset>

      </tab>
    </tabset>

    <button type="button" class="btn btn-default" ng-click="cancel()">
      <span class="glyphicon glyphicon-ban-circle"></span> <span translate>cancel</span>
    </button>

    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span> <span translate>save</span>
    </button>

  </form>

</div>
