<div>

  <h2 translate>study.details</h2>

  <div class="btn-group pull-right">
    <a ng-href="#/study/{{study.id}}/edit" class="btn btn-primary">
      <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
    </a>
    <publish-button version="studySummary.publishedTag" ahead="studySummary.revisionsAhead" publish="publish()"></publish-button>
  </div>

  <tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.labelKey | translate}}" active="tab.active" disabled="tab.disabled">

      <div class="table-responsive">

        <h3 translate>study.general-info</h3>

        <table class="table table-striped">
          <tbody>
          <tr ng-show="study.name.length">
            <td translate>study.name</td>
            <td>
              <localized value="study.name" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr ng-show="study.acronym.length">
            <td translate>study.acronym</td>
            <td>
              <localized value="study.acronym" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr ng-show="study.objectives.length">
            <td translate>study.objectives</td>
            <td>
              <localized value="study.objectives" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr ng-show="study.website">
            <td translate>study.website</td>
            <td>
              <a href="{{study.website}}" target="_blank">{{study.website}}</a>
            </td>
          </tr>
          <tr>
            <td translate>study.investigators</td>
            <td>
              <div ng-controller="ContactController">
                <ul ui-sortable="sortableOptions" ng-model="study.investigators" class="list-unstyled sortable"
                    ng-show="study.investigators.length">
                  <li ng-repeat="investigator in study.investigators">
                    <a ng-click="viewContact(investigator)" title="{{'dnd-reorder' | translate}}">
                    {{investigator.title}} {{investigator.firstName}} {{investigator.lastName}}
                      <span ng-show="investigator.institution.name.length">
                        (<localized value="investigator.institution.name" lang="tab.lang"></localized>)
                      </span>
                    </a>
                    <a ng-click="editInvestigator(study, investigator)" class="action">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <a ng-click="deleteInvestigator(study, investigator)" class="action">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </li>
                </ul>
                <button type="button" class="btn btn-default btn-sm" ng-click="addInvestigator(study)">
                  <i class="fa fa-plus"></i> <span translate>study.add-investigator</span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td translate>study.contacts</td>
            <td>
              <div ng-controller="ContactController">
                <ul ui-sortable="sortableOptions" ng-model="study.contacts" class="list-unstyled sortable"
                    ng-show="study.contacts.length">
                  <li ng-repeat="contact in study.contacts">
                    <a ng-click="viewContact(contact)" title="{{'dnd-reorder' | translate}}">
                    {{contact.title}} {{contact.firstName}} {{contact.lastName}}
                      <span ng-show="contact.institution.name.length">
                        (<localized value="contact.institution.name" lang="tab.lang"></localized>)
                      </span>
                    </a>
                    <a ng-click="editContact(study, contact)" class="action"><i class="fa fa-pencil"></i></a>
                    <a ng-click="deleteContact(study, contact)" class="action"><i class="fa fa-trash-o"></i></a>
                  </li>
                </ul>
                <button type="button" class="btn btn-default btn-sm" ng-click="addContact(study)">
                  <i class="fa fa-plus"></i> <span translate>study.add-contact</span>
                </button>
              </div>
            </td>
          </tr>
          <tr ng-show="study.startYear">
            <td translate>study.start-year</td>
            <td>{{study.startYear}}</td>
          </tr>
          <tr ng-show="study.endYear">
            <td translate>study.end-year</td>
            <td>{{study.endYear}}</td>
          </tr>
          <tr ng-show="study.networks.length">
            <td translate>networks</td>
            <td>{{study.networks}}</td>
          </tr>
          </tbody>
        </table>

        <h3 translate ng-show="study.methods">study.general-design</h3>
        <table class="table table-striped" ng-show="study.methods">
          <tbody>
          <tr ng-show="study.methods.designs.length || study.methods.otherDesign.length">
            <td translate>study.design</td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="design in study.methods.designs">
                  {{'study.design.' + design | translate}}
                </li>
                <li ng-show="study.methods.otherDesign.length">
                  <localized value="study.methods.otherDesign" lang="tab.lang"></localized>
                </li>
              </ul>
            </td>
          </tr>
          <tr ng-show="study.methods.followUpInfo.length">
            <td translate>study.follow-up</td>
            <td>
              <localized value="study.methods.followUpInfo" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr ng-show="study.methods.recruitments.length || study.methods.otherRecruitment.length">
            <td translate>study.recruitment-target</td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="recruitment in study.methods.recruitments">
                  {{'study.recruitment.' + recruitment | translate}}
                </li>
                <li ng-show="study.methods.otherRecruitment.length">
                  <localized value="study.methods.otherRecruitment" lang="tab.lang"></localized>
                </li>
              </ul>
            </td>
          </tr>
          <tr ng-show="study.numberOfParticipants.participant">
            <td translate>study.target-number.participants</td>
            <td>
              {{study.numberOfParticipants.participant.number | number}}
              <span ng-show="study.numberOfParticipants.participant.noLimit"
                  translate>study.target-number.no-limit</span>
            </td>
          </tr>
          <tr ng-show="study.numberOfParticipants.sample">
            <td translate>study.target-number.sample</td>
            <td>
              {{study.numberOfParticipants.sample.number | number}}
              <span ng-show="study.numberOfParticipants.sample.noLimit" translate>study.target-number.no-limit</span>
            </td>
          </tr>
          <tr ng-show="study.numberOfParticipants.info.length">
            <td translate>study.target-number.suppl-info</td>
            <td>
              <localized value="study.numberOfParticipants.info" lang="tab.lang"></localized>
            </td>
          </tr>
          <tr ng-show="study.methods.info.length">
            <td translate>suppl-info</td>
            <td>
              <localized value="study.methods.info" lang="tab.lang"></localized>
            </td>
          </tr>
          </tbody>
        </table>

        <h3 translate ng-show="study.access.length || study.otherAccess.length">study.access.label</h3>
        <table class="table table-striped" ng-show="study.access.length || study.otherAccess.length">
          <tbody>
          <tr>
            <td translate>study.access.for</td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="access in study.access">
                  {{'study.access.' + access | translate}}
                </li>
                <li ng-show="study.otherAccess.length">
                  <localized value="study.otherAccess" lang="tab.lang"></localized>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>

        <h3 translate ng-show="study.markerPaper || study.pubmedId">study.marker-paper</h3>
        <table class="table table-striped" ng-show="study.markerPaper || study.pubmedId">
          <tbody>
          <tr ng-show="study.markerPaper">
            <td translate>study.marker-paper</td>
            <td>{{study.markerPaper}}</td>
          </tr>
          <tr ng-show="study.pubmedId">
            <td translate>study.pubmed-id</td>
            <td>
              <a ng-href="http://www.ncbi.nlm.nih.gov/pubmed/{{study.pubmedId}}" target="_blank">
                PUBMED {{study.pubmedId}}
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <h3 translate ng-show="study.info.length">suppl-info</h3>
        <table class="table table-striped" ng-show="study.info.length">
          <tbody>
          <tr>
            <td>
              <localized value="study.info" lang="tab.lang"></localized>
            </td>
          </tr>
          </tbody>
        </table>

        <h3 translate ng-show="study.populations.length">study.timeline</h3>
        <div id="timeline"></div>


        <h3 translate ng-show="study.populations.length">study.populations</h3>
        <div ng-repeat="population in study.populations">
          <div ng-include="'app/study/views/population/population-view.html'"></div>
        </div>

        <h3 translate ng-show="study.specificAuthorization || study.maelstromAuthorization">
          study.authorization.label</h3>
        <table class="table table-striped" ng-show="study.specificAuthorization || study.maelstromAuthorization">
          <tbody>
          <tr ng-show="study.maelstromAuthorization">
            <td translate>study.authorization.maelstrom</td>
            <td>
              {{'study.authorization.authorized.' + study.maelstromAuthorization.authorized | translate}}
              <span ng-show="study.maelstromAuthorization.authorizer">
                <span translate>by</span> {{study.maelstromAuthorization.authorizer}}
              </span>
              <span ng-show="study.maelstromAuthorization.date">
                <span translate>on</span> {{study.maelstromAuthorization.date}}
              </span>
            </td>
          </tr>
          <tr ng-show="study.specificAuthorization">
            <td translate>study.authorization.specific</td>
            <td>
              {{'study.authorization.authorized.' + study.specificAuthorization.authorized | translate}}
              <span ng-show="study.specificAuthorization.authorizer">
                <span translate>by</span> {{study.specificAuthorization.authorizer}}
              </span>
              <span ng-show="study.specificAuthorization.date">
                <span translate>on</span> {{study.specificAuthorization.date}}
              </span>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </tab>
  </tabset>


</div>
