<div>
  <h2>
    <ol class="mica-breadcrumb">
      <li><a href="/#/study" translate>studies</a></li>
      <li class="active">{{study.id}}</li>
    </ol>
  </h2>

  <div class="tabs-menu tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#/study/{{study.id}}" title="{{'view' | translate}}"><i class="fa fa-eye"></i></a>
      </li>
      <li><a href="#/study/{{study.id}}/revisions" title="{{'revisions' | translate}}"><i class="fa fa-list-ol"></i></a>
      </li>
      <li><a href="#/study/{{study.id}}/files" title="{{'files' | translate}}"><i class="fa fa-file"></i></a></li>
      <li><a href="#/study/{{study.id}}/permissions" title="{{'permissions' | translate}}"><i
        class="fa fa-lock"></i></a></li>
    </ul>
  </div>


  <div class="clearfix">
    <h3 class="pull-left no-margin-top" translate>view</h3>
    <div class="pull-right">
      <a ng-href="#/study/{{study.id}}/edit" class="btn btn-primary"
        ng-if="hasRole(['mica-administrator','mica-reviewer','mica-editor']) && studySummary['obiba.mica.StudyStateDto.state'].revisionStatus === 'DRAFT'"
        ng-disabled="hasRole(['mica-editor']) && studySummary['obiba.mica.StudyStateDto.state'].revisionStatus !== 'DRAFT'">
        <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
      </a>

      <status-buttons class="inline"
        state="studySummary['obiba.mica.StudyStateDto.state']"
        on-publish="publish(true)"
        on-un-publish="publish(false)"
        can-publish="hasRole(['mica-administrator','mica-reviewer'])"
        on-delete="delete()"
        can-delete="hasRole(['mica-administrator','mica-reviewer'])"
        can-edit="hasRole(['mica-administrator','mica-reviewer','mica-editor'])"
        to-draft="toStatus('DRAFT')"
        to-under-review="toStatus('UNDER_REVIEW')"
        to-deleted="toStatus('DELETED')">
      </status-buttons>

    </div>
  </div>
  <p>
    <small class="help-block inline">{{'global.lastUpdate' | translate}}: {{studySummary.timestamps.lastUpdate |
      amDateFormat : 'lll'}}
    </small>
    <publish-status class="inline" version="studySummary['obiba.mica.StudyStateDto.state'].publishedTag"
      ahead="studySummary['obiba.mica.StudyStateDto.state'].revisionsAhead"></publish-status>

  </p>

  <div ng-include="'app/study/views/study-view-details.html'"></div>

</div>
