<h3>Maelstrom authorization</h3>
<div form-checkbox name="study.maelstromAuthorization.authorized" model="study.maelstromAuthorization.authorized" lang="tab.lang" help="study.authorization.maelstrom"></div>
<div form-input disabled="!study.maelstromAuthorization.authorized" name="study.maelstromAuthorization.authorizer" model="study.maelstromAuthorization.authorizer" label="study.authorization.authorizer"></div>

<h3>Specific authorization</h3>
<div form-checkbox name="study.specificAuthorization.authorized" model="study.specificAuthorization.authorized" lang="tab.lang" help="study.authorization.specific"></div>
<div form-input disabled="!study.specificAuthorization.authorized" name="study.specificAuthorization.authorizer" model="study.specificAuthorization.authorizer" label="study.authorization.authorizer"></div>

