<div>

  <h2>
    <span translate>studies</span>
  </h2>

  <a ng-href="#/study/new" class="btn btn-info">
    <i class="fa fa-plus"></i> <span translate>study.add</span>
  </a>

  <p class="voffset2" ng-if="studies.length == 0">
    <span translate>study.none</span>
  </p>

  <div ng-if="studies.length > 0">

    <div class="row voffset2">
      <div class="col-xs-4">
      <span class="input-group input-group-sm no-padding-top">
        <span class="input-group-addon" id="study-search"><i class="glyphicon glyphicon-search"></i></span>
        <input ng-model="searchText" type="text" class="form-control" aria-describedby="study-search">
      </span>
      </div>
      <div class="col-xs-8">
        <dir-pagination-controls class="pull-right"></dir-pagination-controls>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th translate>study.acronym</th>
          <th translate>study.name</th>
          <th translate>publish.published</th>
          <th translate>status</th>
          <th translate>actions</th>
        </tr>
        </thead>
        <tbody>

        <tr dir-paginate="study in studies| filter:searchText | itemsPerPage: 20">
          <td>
            <a ng-href="#/study/{{study.id}}" translate>{{study.id}}</a>
          </td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="acronym in study.acronym">
                <span class="badge">{{acronym.lang}}</span> {{acronym.value}}
              </li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="name in study.name">
                <span class="badge">{{name.lang}}</span> {{name.value}}
              </li>
            </ul>
          </td>
          <td>
            <div publish-status state="study['obiba.mica.StudyStateDto.state']"></div>
          </td>
          <td>
            {{'publish.status.' + study['obiba.mica.StudyStateDto.state'].revisionStatus | translate}}
          </td>
          <td>
            <ul class="list-inline">
              <li ng-if="study['obiba.mica.StudyStateDto.state'].revisionStatus === 'DRAFT'">
                <a ng-href="#/study/{{study.id}}/edit" title="{{'edit' | translate}}"><i class="fa fa-pencil"></i></a>
              </li>
              <li ng-if="study['obiba.mica.StudyStateDto.state'].revisionStatus === 'DELETED'">
                <a href ng-click="deleteStudy(study.id)" title="{{'delete' | translate}}"><i
                  class="fa fa-trash-o"></i></a>
              </li>
              <li ng-if="study['obiba.mica.StudyStateDto.state'].revisionStatus === 'UNDER_REVIEW'">
                <a ng-href="#/study/{{study.id}}" title="{{'view' | translate}}"><i class="fa fa-eye"></i></a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
