<div>
  <div ng-include="'app/study/views/study-view-header.html'" ng-init="tabName='view'"></div>

  <div class="clearfix">
    <h3 class="pull-left no-margin-top" translate>view</h3>
    <div class="pull-right">
      <a ng-href="#/study/{{study.id}}/edit" class="btn btn-primary"
        ng-if="studySummary['obiba.mica.StudyStateDto.state'].permissions.edit && studySummary['obiba.mica.StudyStateDto.state'].revisionStatus === 'DRAFT'"
        ng-disabled="hasRole(['mica-editor']) && studySummary['obiba.mica.StudyStateDto.state'].revisionStatus !== 'DRAFT'">
        <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
      </a>

      <status-buttons class="inline"
        state="studySummary['obiba.mica.StudyStateDto.state']"
        on-publish="publish(true)"
        on-un-publish="publish(false)"
        on-delete="delete(study)"
        to-draft="toStatus('DRAFT')"
        to-under-review="toStatus('UNDER_REVIEW')"
        to-deleted="toStatus('DELETED')">
      </status-buttons>

    </div>
  </div>

  <p>
    <small class="help-block inline">{{'global.lastUpdate' | translate}}: {{studySummary.timestamps.lastUpdate |
      amDateFormat : 'lll'}}
    </small>
    <publish-status class="inline" state="studySummary['obiba.mica.StudyStateDto.state']"></publish-status>
  </p>

  <div ng-include="'app/study/views/study-view-details.html'"></div>

</div>
