<div class="form-group" ng-class="{'has-error': form.name-lang.$invalid}">
  <label for="name-{{lang}}" translate="study.name" class="control-label">Name</label>
  <input ng-repeat="name in study.name | filter:{lang:lang}" type="text" class="form-control"
      id="name-{{lang}}" name="name-{{lang}}" ng-model="name.value" required server-error>
  <p class="input-error" ng-show="form['name-' + lang].$dirty && form['name-' + lang].$invalid">
    <span ng-show="form['name-' + lang].$error.server">{{ errors['name-' + lang]}}</span>
    <span ng-show="form['name-' + lang].$error.required">Required</span>
  </p>
  <p class="help-block" translate="study.name-help">Name of your organization</p>
</div>

<div class="form-group" ng-class="{'has-error': form.acronym-lang.$invalid}">
  <label for="acronym-{{lang}}" translate="study.acronym" class="control-label">Acronym</label>
  <input ng-repeat="acronym in study.acronym | filter:{lang:lang}" type="text" class="form-control"
      id="acronym-{{lang}}" name="acronym-{{lang}}" ng-model="acronym.value" server-error>
  <p class="input-error" ng-show="form['acronym-' + lang].$dirty && form['acronym-' + lang].$invalid">
    <span ng-show="form['acronym-' + lang].$error.server">{{ errors['acronym-' + lang]}}</span>
  </p>
  <p class="help-block" translate="study.acronym-help">Acronym of the study if applicable</p>
</div>

<div class="form-group" ng-class="{'has-error': form.objectives-lang.$invalid}">
  <label for="objectives-{{lang}}" translate="study.objectives" class="control-label">Objectives</label>
  <textarea ng-repeat="objectives in study.objectives | filter:{lang:lang}" rows="5" class="form-control"
      id="objectives-{{lang}}" name="objectives-{{lang}}" ng-model="objectives.value" required server-error></textarea>
  <p class="input-error" ng-show="form['objectives-' + lang].$dirty && form['objectives-' + lang].$invalid">
    <span ng-show="form['objectives-' + lang].$error.server">{{ errors['objectives-' + lang]}}</span>
    <span ng-show="form['objectives-' + lang].$error.required">Required</span>
  </p>
  <p class="help-block" translate="study.objectives-help">What are the principal objectives of the study?</p>
</div>

