<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

  <logger name="org.obiba.mica" level="DEBUG"/>
  <logger name="org.springframework" level="info"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf-8</charset>
      <Pattern>[%p] %c - %m%n</Pattern>
    </encoder>
  </appender>

  <root level="info">
  <appender-ref ref="CONSOLE"/>
  </root>

</configuration>