<div>

  <h2>
    <ol class="mica-breadcrumb">
      <li><a href="/#/admin" translate>global.menu.admin</a></li>
      <li class="active" translate>general</li>
    </ol>
  </h2>

  <div class="tabs-menu" ng-class="{'tabs-left': screen.is('lg')}">
    <ul class="nav nav-tabs">
      <li ng-class="{'active': tab.name === undefined || tab.name === 'settings'}">
        <a href ng-click="tab.name = 'settings'" title="{{'settings' | translate}}"><i class="fa fa-cog"></i></a>
      </li>
      <li ng-class="{'active': tab.name === 'notifications'}">
        <a href ng-click="tab.name = 'notifications'" title="{{'config.notifications.title' | translate}}"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>

  <div ng-show="tab.name === undefined || tab.name === 'settings'">
    <form name="form" role="form" novalidate ng-submit="save()">

      <div class="row">
        <div class="col-md-6">
          <h3 ng-class="{'no-margin-top': screen.is('lg')}" translate>config.serverIdentification</h3>

          <div form-input name="name" model="micaConfig.name" label="config.name" required="true" help="config.name-help"></div>

          <div form-input name="publicUrl" model="micaConfig.publicUrl" label="config.publicUrl" help="config.publicUrl-help"></div>
        </div>

        <div class="col-md-6">
          <h3 ng-class="{'no-margin-top': screen.is('lg')}" translate>config.dataSource</h3>

          <div form-input name="opal" model="micaConfig.opal" label="config.opal" help="config.opal-help" required="true"></div>

          <div form-input name="threshold" model="micaConfig.privacyThreshold" label="config.privacy-threshold" type="number" required="false" help="config.privacy-threshold-help"></div>
        </div>
      </div>

      <h3 translate>config.content</h3>

      <div class="row">
        <div class="col-md-6">

          <h4 translate>config.content-edition</h4>

          <div class="form-group" ng-class="{'has-error': (form.languages.$dirty || form.saveAttempted) && form.languages.$invalid}">
            <label for="languages" class="control-label">
              <span translate>config.languages</span> *
            </label>
            <select chosen multiple="multiple" id="languages" name="languages" ng-model="micaConfig.languages" ng-options="code as name for (code, name) in availableLanguages" class="chosen-select" required>
            </select>
            <p class="input-error" ng-show="form.languages.$dirty && form.languages.$invalid">
              <span ng-show="form.languages.$error.server">{{ errors.name }}</span>
              <span ng-show="form.languages.$error.required" translate>required</span>
            </p>
            <p class="help-block" translate>config.languages-help</p>
          </div>

          <div form-input name="defaultCharSet" model="micaConfig.defaultCharSet" label="config.defaultCharSet" required="true"></div>

        </div>
        <div class="col-md-6">
          <h4 translate>config.content-access</h4>
          <div form-checkbox min="0" name="openAccess" model="micaConfig.openAccess" label="config.openAccess" help="config.openAccess-help"></div>
        </div>
      </div>

      <h3 translate>config.sections</h3>
      <div class="row">
        <div class="col-md-3">
          <div form-checkbox name="isSingleStudyEnabled" model="micaConfig.isSingleStudyEnabled" label="config.single-study-enabled" help="config.single-study-enabled-help"></div>
          <div form-checkbox name="isNetworkEnabled" model="micaConfig.isNetworkEnabled" label="config.network-enabled" help="config.network-enabled-help"></div>
          <div form-checkbox name="isSingleNetworkEnabled" model="micaConfig.isSingleNetworkEnabled" label="config.single-network-enabled" help="config.single-network-enabled-help" disabled="!micaConfig.isNetworkEnabled"></div>
        </div>
        <div class="col-md-3">
          <div form-checkbox name="isStudyDatasetEnabled" model="micaConfig.isStudyDatasetEnabled" label="config.study-dataset-enabled" help="config.study-dataset-enabled-help"></div>
          <div form-checkbox name="isHarmonizationDatasetEnabled" model="micaConfig.isHarmonizationDatasetEnabled" label="config.harmonization-dataset-enabled" help="config.harmonization-dataset-enabled-help"></div>
        </div>
      </div>

      <div class="voffset2">
        <a href="#/admin/general" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <button type="submit" class="btn btn-primary">
          <span translate>save</span>
        </button>
      </div>
    </form>
  </div>

  <div ng-show="tab.name === 'notifications'">
    <h3 translate>config.notifications.title</h3>

    <p class="help-block" translate>config.notifications.info</p>

    <form novalidate ng-submit="save()">

      <div class="row">
        <div class="col-md-6">
          <h4 translate>config.notifications.network-title</h4>

          <p class="help-block" translate>config.notifications.network-info</p>

          <div form-checkbox name="isNetworkNotificationsEnabled" model="micaConfig.isNetworkNotificationsEnabled" label="config.notifications.network" help="config.notifications.network-help"></div>
          <div form-input name="networkNotificationsSubject" model="micaConfig.networkNotificationsSubject" label="config.notifications.network-subject" help="config.notifications.network-subject-help-long" placeholder="[${organization}] ${documentId}: Network status has changed" required="false" disable="!micaConfig.isNetworkNotificationsEnabled"></div>
        </div>
        <div class="col-md-6">
          <h4 translate>config.notifications.study-title</h4>

          <p class="help-block" translate>config.notifications.study-info</p>

          <div form-checkbox name="isStudyNotificationsEnabled" model="micaConfig.isStudyNotificationsEnabled" label="config.notifications.study" help="config.notifications.study-help"></div>
          <div form-input name="studyNotificationsSubject" model="micaConfig.studyNotificationsSubject" label="config.notifications.study-subject" help="config.notifications.study-subject-help-long" placeholder="[${organization}] ${documentId}: Study status has changed" required="false" disable="!micaConfig.isStudyNotificationsEnabled"></div>
        </div>
      </div>

      <div ng-class="{'voffset4': screen.is('lg')}" class="row">
        <div class="col-md-6">
          <h4 translate>config.notifications.study-dataset-title</h4>

          <p class="help-block" translate>config.notifications.study-dataset-info</p>

          <div form-checkbox name="isStudyDatasetNotificationsEnabled" model="micaConfig.isStudyDatasetNotificationsEnabled" label="config.notifications.study-dataset" help="config.notifications.study-dataset-help"></div>
          <div form-input name="studyDatasetNotificationsSubject" model="micaConfig.studyDatasetNotificationsSubject" label="config.notifications.study-dataset-subject" help="config.notifications.study-dataset-subject-help-long" placeholder="[${organization}] ${documentId}: Study Dataset status has changed" required="false" disable="!micaConfig.isStudyDatasetNotificationsEnabled"></div>
        </div>
        <div class="col-md-6">
          <h4 translate>config.notifications.harmonization-dataset-title</h4>

          <p class="help-block" translate>config.notifications.harmonization-dataset-info</p>

          <div form-checkbox name="isHarmonizationDatasetNotificationsEnabled" model="micaConfig.isHarmonizationDatasetNotificationsEnabled" label="config.notifications.harmonization-dataset" help="config.notifications.harmonization-dataset-help"></div>
          <div form-input name="harmonizationDatasetNotificationsSubject" model="micaConfig.harmonizationDatasetNotificationsSubject" label="config.notifications.harmonization-dataset-subject" help="config.notifications.harmonization-dataset-subject-help-long" placeholder="[${organization}] ${documentId}: Harmonization Dataset status has changed" required="false" disable="!micaConfig.isHarmonizationDatasetNotificationsEnabled"></div>
        </div>
      </div>

      <div ng-class="{'voffset4': screen.is('lg')}" class="row">
        <div class="col-md-6">
          <h4 translate>config.notifications.file-title</h4>

          <p class="help-block" translate>config.notifications.file-info</p>

          <div form-checkbox name="isFsNotificationsEnabled" model="micaConfig.isFsNotificationsEnabled" label="config.notifications.file" help="config.notifications.file-help"></div>
          <div form-input name="fsNotificationsSubject" model="micaConfig.fsNotificationsSubject" label="config.notifications.file-subject" help="config.notifications.file-subject-help-long" placeholder="[${organization}] ${documentId}: file status has changed" required="false" disable="!micaConfig.isFsNotificationsEnabled"></div>
        </div>

        <div class="col-md-6">
          <h4 translate>config.notifications.comment-title</h4>

          <p class="help-block" translate>config.notifications.comment-info</p>

          <div form-checkbox name="isCommentNotificationsEnabled" model="micaConfig.isCommentNotificationsEnabled" label="config.notifications.comment" help="config.notifications.comment-help"></div>
          <div form-input name="commentNotificationsSubject" model="micaConfig.commentNotificationsSubject" label="config.notifications.comment-subject" help="config.notifications.comment-subject-help-long" placeholder="[${organization}] ${documentId} was commented" required="false" disable="!micaConfig.isCommentNotificationsEnabled"></div>

        </div>

      </div>

      <div class="voffset2">
        <a href="#/admin/general" class="btn btn-default">
          <span translate>cancel</span>
        </a>

        <button type="submit" class="btn btn-primary">
          <span translate>save</span>
        </button>
      </div>
    </form>
  </div>
</div>
