<div>

  <h2 translate>config.title</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
        <tr>
          <td translate>config.name</td>
          <td>{{micaConfig.name}}</td>
        </tr>
        <tr>
          <td translate>config.publicUrl</td>
          <td>{{micaConfig.publicUrl}}</td>
        </tr>
        <tr>
          <td translate>config.languages</td>
          <td>
            <ul class="list-inline">
              <li ng-repeat="lang in micaConfig.languages">
                <span class="badge">{{lang}}</span> {{availableLanguages[lang]}}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td translate>config.defaultCharSet</td>
          <td>{{micaConfig.defaultCharSet}}</td>
        </tr>
        <tr>
          <td translate>config.opal</td>
          <td><a ng-href="{{micaConfig.opal}}" target="_blank">{{micaConfig.opal}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a href="#/config/edit" class="btn btn-primary">
    <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
  </a>

  <h2 translate>config.encryptionKeys</h2>

  <div class="btn-group dropdown" is-open="status.isopen">
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled"><span translate>config.addKeyPair</span> <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="" ng-click="createKeyPair()" translate>config.create</a></li>
      <li><a href="" ng-click="importKeyPair()" translate>config.import</a></li>
    </ul>
  </div>

  <a href="" class="btn btn-default" ng-click="downloadCertificate()">
    <i class="fa fa-download"></i> <span translate>config.downloadCertificate</span>
  </a>

  <h2 translate>config.opalCredentials</h2>

  <div class="btn-group dropdown" is-open="status.isopen">
    <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled"><span translate>config.addOpalCredential</span> <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="" ng-click="createOpalCredentialKeyPair()" translate>config.create</a></li>
      <li><a href="" ng-click="importOpalCredentialKeyPair()" translate>config.import</a></li>
      <li><a href="" ng-click="addOpalCredentialUserPass()" translate>config.username</a></li>
    </ul>
  </div>

  <div class="row" ng-show="opalCredentials.length">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th translate>config.opalUrl</th>
          <th translate>config.type</th>
          <th translate>config.actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="opalCredential in opalCredentials">
          <td>{{opalCredential.opalUrl}}</td>
          <td>{{opalCredential.type}}</td>
          <td>
            <a ng-click="deleteOpalCredential(opalCredential)" class="hand action"><i class="fa fa-trash-o"></i></a>
            <a ng-click="editOpalCredentialCertificate(opalCredential)" class="hand action" ng-show="opalCredential.type === 'USERNAME'"><i class="fa fa-edit"></i></a>
            <a ng-click="downloadOpalCredentialCertificate(opalCredential)" class="hand action" ng-show="opalCredential.type === 'PUBLIC_KEY_CERTIFICATE'"><i class="fa fa-download"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
