<div>

  <h2>
    <ol class="mica-breadcrumb">
      <li><a href="/#/admin" translate>global.menu.admin</a></li>
      <li class="active" translate>config.short-title</li>
    </ol>
  </h2>

  <h3 translate>config.title</h3>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <td translate>config.name</td>
          <td>{{micaConfig.name}}</td>
        </tr>
        <tr>
          <td translate>config.publicUrl</td>
          <td>{{micaConfig.publicUrl}}</td>
        </tr>
        <tr>
          <td translate>config.languages</td>
          <td>
            <ul class="list-inline">
              <li ng-repeat="lang in micaConfig.languages">
                <span class="badge">{{lang}}</span> {{availableLanguages[lang]}}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td translate>config.defaultCharSet</td>
          <td>{{micaConfig.defaultCharSet}}</td>
        </tr>
        <tr>
          <td translate>config.opal</td>
          <td><a ng-href="{{micaConfig.opal}}" target="_blank">{{micaConfig.opal}}</a></td>
        </tr>
        <tr>
          <td translate>config.privacyThreshold</td>
          <td>{{micaConfig.privacyThreshold}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a href="#/admin/general/edit" class="btn btn-primary">
    <i class="fa fa-pencil-square-o"></i> <span translate>edit</span>
  </a>

</div>
