.info-box .info-box-text, .info-box .progress-description {
  white-space: initial !important;
}

@font-face {
  font-family: 'obiba';
  src: url('../fonts/obiba.eot');
  src: url('../fonts/obiba.eot#iefix') format('embedded-opentype'), url('../fonts/obiba.woff') format('woff'), url('../fonts/obiba.ttf') format('truetype'), url('../fonts/obiba.svg#obiba') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "obiba" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="io-"]:before,
[class*=" io-"]:before {
  font-family: "obiba" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.io-variable:before {
  content: "\e600";
}
.io-dataset:before {
  content: "\e601";
}
.io-harmo-dataset:before {
  content: "\e602";
}
.io-study:before {
  content: "\e603";
}
.io-network:before {
  content: "\e604";
}
.io-taxonomy:before {
  content: "\e605";
}
.io-project:before {
  content: "\e607";
}
.small-box .icon > i.io {
  font-size: 70px;
}
.small-box:hover .icon > i.io {
  font-size: 75px;
}

[v-cloak] {
  display: none;
}

.total {
  font-weight: bold;
}

.wrapper {
  background: #f4f6f9;
}

.breadcrumb.breadcrumb-sm {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.badge.navbar-badge {
  font-weight: 700;
  right: 0px;
}

.card-body p:last-child, td p:last-child {
  margin-bottom: 0;
}

.card-body > div.border-bottom:last-child ,
#lines > div.border-bottom:last-child {
  border-bottom: none !important;
}

.dropdown-menu {
  z-index: 1040;
}

