<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{contact.title}} {{contact.firstName}} {{contact.lastName}}</h4>
  </div>

  <div class="modal-body">

    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{tab.labelKey | translate}}" active="tab.active" disabled="tab.disabled">

      <table class="table table-striped">
          <tbody>
          <tr>
            <td translate>name</td>
            <td>{{contact.title}} {{contact.firstName}} {{contact.lastName}}</td>
          </tr>
          <tr ng-show="contact.phone">
            <td translate>contact.phone</td>
            <td>{{contact.phone}}</td>
          </tr>
          <tr ng-show="contact.email">
            <td translate>contact.email</td>
            <td><a ng-href="mailto:{{contact.email}}">{{contact.email}}</a></td>
          </tr>
          <tr ng-show="contact.dataAccessCommitteeMember">
            <td translate>contact.dataAccessCommitteeMember</td>
            <td translate>yes</td>
          </tr>
          <tr ng-show="contact.institution">
            <td translate>contact.institution</td>
            <td>
              <address>
                <strong ng-show="contact.institution.name.length">
                  <localized value="contact.institution.name" lang="tab.lang"></localized>
                  <br/>
                </strong>
            <span ng-show="contact.institution.department.length">
              <localized value="contact.institution.department" lang="tab.lang"></localized>
              <br/>
            </span>
            <span ng-show="contact.institution.address && contact.institution.address.street.length">
              <localized value="contact.institution.address.street" lang="tab.lang"></localized>
              <br/>
            </span>
            <span ng-show="contact.institution.address
                && (contact.institution.address.city.length || contact.institution.address.zip || contact.institution.address.state)">
              <localized value="contact.institution.address.city" lang="tab.lang"></localized>,
              {{contact.institution.address.state}},
              {{contact.institution.address.zip}}
              <br/>
            </span>
            <span ng-show="contact.institution.address && contact.institution.address.country
                && contact.institution.address.country.name.length">
              <localized value="contact.institution.address.country.name" lang="tab.lang"></localized>
            </span>
              </address>
            </td>
          </tr>
          </tbody>
        </table>

      </tab>
    </tabset>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">
      <span translate>close</span>
    </button>
  </div>

</div>