<div>

  <h2>Studies</h2>

  <button class="btn btn-primary">
    <i class="fa fa-plus"></i> Add Study
  </button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="study in studies">
      <td>
        <ul class="list-unstyled">
          <li ng-repeat="name in study.name">
            <span class="badge">{{name.lang}}</span> {{name.value}}
          </li>
        </ul>
      </td>
      <td>
        <ul class="list-inline">
          <li>
            <a ng-href="#/study/{{study.id}}">View</a>
          </li>
          <li>
            <a ng-href="#/study/{{study.id}}/edit">Edit</a>
          </li>
          <li>
            <a ng-href="#/study/{{study.id}}/delete">Delete</a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>

</div>
