<div>

  <h2 translate="study.title-edit">Edit Study</h2>

  <form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="save()">

    <tabset>
      <tab heading="General Information">
      </tab>
      <tab heading="Authorization">
      </tab>
      <tab heading="Methods">
      </tab>
      <tab heading="Access">
      </tab>
      <tab heading="Marker Paper">
      </tab>
      <tab heading="Documents">
      </tab>
      <tab heading="Supplementary Information">
      </tab>
    </tabset>

    <a href="#/study" class="btn btn-default">
      <span class="glyphicon glyphicon-ban-circle"></span> <span translate="cancel">Cancel</span>
    </a>

    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span> <span translate="save">Save</span>
    </button>

  </form>

</div>
