<div>

  <h2>
    <ol class="breadcrumb mica-breadcrumb">
      <li><a href="#/admin" translate>global.menu.admin</a></li>
      <li class="active" translate>entity-statistics-summary.breadcrumb</li>
    </ol>
  </h2>

  <div ng-repeat="document in $ctrl.stats.documents track by $index" ng-if="$index % 2 == 0" class="row">
    <entity-statistics-summary-item class="col-md-6" document="$ctrl.stats.documents[$index]"></entity-statistics-summary-item>
    <entity-statistics-summary-item ng-if="$ctrl.stats.documents[$index+1]" class="col-md-6" document="$ctrl.stats.documents[$index+1]"></entity-statistics-summary-item>
  </div>

</div>
