<div>
  <h2 translate>search</h2>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href>
          <span class="input-group input-group-sm no-padding-top">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input ng-keyup="searchKeyUp($event)"
              ng-model="data.search.text"
              type="text"
              class="form-control ng-pristine ng-untouched ng-valid"
              aria-describedby="study-search">
          </span>
      </a>
    </div>
    <div class="col-md-4"></div>
  </div>

  <a class="btn btn-primary btn-sm voffset4" data-toggle="collapse" data-target="#taxonomies" translate>
    browse-categories
  </a>
  <div id="taxonomies" class="collapse voffset2">
  <div ng-include="'app/search/views/taxonomies-view.html'"></div>
</div>
</div>

