# default advanced settings
spring:
    mail:
        host: localhost
        port: 25
        user:
        password:
        protocol: smtp
        tls: false
        auth: false
    messageSource:
        cacheSeconds: 1
    task:
        scheduling:
            pool:
                size: 30
            thread-name-prefix: mica-executor-

metrics:
    jmx.enabled: true
    graphite:
        enabled: false
        host: localhost
        port: 2003

cache:
    timeToLiveSeconds: 3600

portal.draftResource.urlPattern: "{portalUrl}/mica/{resourceType}/{resourceId}/draft/{shareKey}"

#
# Plugins
#

plugins:
  updateSite: https://plugins.obiba.org

#
# Security
#

login:
  maxTry: 3
  trialTime: 300
  banTime: 300
