# default advanced settings
spring:
    main.allow-bean-definition-overriding: true
    mail:
        host: localhost
        port: 25
        user:
        password:
        protocol: smtp
        tls: false
        auth: false
    messageSource:
        cacheSeconds: 1
    task:
        scheduling:
            pool:
                size: 30
            thread-name-prefix: mica-executor-
    cache:
      jcache:
        config: classpath:ehcache.xml

metrics:
    jmx.enabled: true
    graphite:
        enabled: false
        host: localhost
        port: 2003

cache:
    timeToLiveSeconds: 3600

portal:
  draftResource:
    urlPattern: "{portalUrl}/mica/{resourceType}/{resourceId}/draft/{shareKey}"
  files:
    extensions: .xls,.xlsx,.ods,.doc,.docx,.odt,.ppt,.pptx,.odp,.xml,.yaml,.yml,.jpg,.jpeg,.png,.pdf,.txt,.csv,.tsv,.sav,.sas7bdat,.sas7bcat,.por,.gz,.bz2,.xz,.zip

#
# Plugins
#

plugins:
  micaSearchPlugin: mica-search-es8
  updateSite: https://plugins.obiba.org

#
# Security
#

login:
  maxTry: 3
  trialTime: 300
  banTime: 300

csrf:
  allowed-agents: curl,python

# assign roles when user belongs to one or more groups listed
roles:
  mica-administrator: mica-administrator
  mica-reviewer: mica-reviewer
  mica-editor: mica-editor
  mica-data-access-officer: mica-data-access-officer
  mica-user: mica-user
